<p-tab-group>
  <p-tab pTabLabel="Documentation">
    <h5 class="t-700">Usage</h5>
    <br>
    <p>Buttons are used to perform actions through the application.</p>
    <br>
    <h5 class="t-700">Behaviour</h5>
    <br>
    <p>The buttons behave like a normal HTML <code>&lt;button&gt;</code> element, and accepts all of angular bindings.
    </p>
    <br>
    <h5 class="t-700">Styling</h5>
    <br>
    <p>The Productive custom button stylings are achieved by simple css classes. You just need to add the classes listed
      in
      the references tab to a regular <code>&lt;button&gt;</code> element to achieve the styling.
    </p>
    <br>
    <h5 class="t-700">Example</h5>
    <br>
    <p>In the example bellow, you can see some of the types of styles that a button can have.</p>
    <br>
    <p>To replicate some of the behaviours, such as raising the button trough shadows, you
      need to add the respective classes or directives, like the <a
        [routerLink]="['/Components/Ripple']">RippleDirective.</a></p>
    <p-section>
      <p-section-content>
        <div>
          <div class="label-row">
            <span class="t-600">
              Regular buttons
            </span>
          </div>
          <div class="btn-row">
            <button class="btn" pRipple>Button</button>
            <button class="btn bg-primary text-white" pRipple>Button</button>
            <button class="btn bg-secondary text-white" pRipple>Button</button>
            <a class="btn" href="https://google.com/" target="_blank" pRipple>Link</a>
            <button class="btn" disabled pRipple>Button</button>
          </div>
        </div>
        <div class="p-divider"></div>
        <div>
          <div class="label-row">
            <span class="t-600">Elevated Buttons</span>
          </div>
          <div class="btn-row">
            <button class="btn elevation" pRipple>Button</button>
            <button class="btn bg-primary elevation text-white" pRipple>Button</button>
            <button class="btn bg-secondary elevation text-white" pRipple>Button</button>
            <a class="btn elevation" href="https://google.com/" target="_blank" pRipple>Link</a>
            <button class="btn elevation" disabled pRipple>Button</button>
          </div>
        </div>
        <div class="p-divider"></div>
        <div>
          <div class="label-row">
            <span class="t-600">Flat buttons</span>
          </div>
          <div class="btn-row">
            <button class="btn flat" pRipple>Button</button>
            <button class="btn flat primary" pRipple pRippleColor="var(--primaryLowOpacity)">Button</button>
            <button class="btn flat secondary" pRipple pRippleColor="var(--secondaryLowOpacity)">Button</button>
            <a class="btn flat" pRipple href="https://google.com.br" target="_blank">Link</a>
            <button class="btn flat" pRipple disabled>Button</button>
          </div>
        </div>
        <div class="p-divider"></div>
        <div>
          <div class="label-row">
            <span class="t-600">FAB buttons</span>
          </div>
          <div class="btn-row">
            <button class="btn fab" pRipple>
              <p-icon>add</p-icon>
            </button>
            <button class="btn fab bg-primary" pRipple>
              <p-icon class="text-white">home</p-icon>
            </button>
            <button class="btn fab bg-secondary" pRipple>
              <p-icon class="text-white">more_vert</p-icon>
            </button>
            <a class="btn fab" pRipple href="https://google.com.br" target="_blank">
              <p-icon>link</p-icon>
            </a>
            <button class="btn fab" pRipple disabled>
              <p-icon>delete</p-icon>
            </button>
          </div>
        </div>
        <div class="p-divider"></div>
        <div>
          <div class="label-row">
            <span class="t-600">FAB elevated buttons</span>
          </div>
          <div class="btn-row">
            <button class="btn fab elevation" pRipple>
              <p-icon>add</p-icon>
            </button>
            <button class="btn fab bg-primary elevation" pRipple>
              <p-icon class="text-white">home</p-icon>
            </button>
            <button class="btn fab bg-secondary elevation" pRipple>
              <p-icon class="text-white">more_vert</p-icon>
            </button>
            <a class="btn fab elevation" pRipple href="https://google.com.br" target="_blank">
              <p-icon>link</p-icon>
            </a>
            <button class="btn fab elevation" pRipple disabled>
              <p-icon>delete</p-icon>
            </button>
          </div>
        </div>
        <div class="p-divider"></div>
        <div>
          <div class="label-row">
            <span class="t-600">FAB flat buttons</span>
          </div>
          <div class="btn-row">
            <button class="btn fab flat" pRipple [pRippleCentered]="true">
              <p-icon>add</p-icon>
            </button>
            <button class="btn fab primary flat" pRipple [pRippleCentered]="true"
              pRippleColor="var(--primaryLowOpacity)">
              <p-icon>home</p-icon>
            </button>
            <button class="btn fab secondary flat" pRipple [pRippleCentered]="true"
              pRippleColor="var(--secondaryLowOpacity)">
              <p-icon>more_vert</p-icon>
            </button>
            <a class="btn fab flat" pRipple [pRippleCentered]="true" href="https://google.com.br" target="_blank">
              <p-icon>link</p-icon>
            </a>
            <button class="btn fab flat" pRipple [pRippleCentered]="true" disabled>
              <p-icon>delete</p-icon>
            </button>
          </div>
        </div>
      </p-section-content>
    </p-section>
    <p>Each type of button also has a small and large variant, and it can be applied by just adding the
      <code>small</code> or <code>large</code> classes on a button with the <code>btn</code> class.
    </p>
    <p-section>
      <p-section-content>
        <div>
          <div class="label-row">
            <span class="t-600">
              Large buttons
            </span>
          </div>
          <div class="btn-row">
            <button class="btn large" pRipple>Button</button>
            <button class="btn large bg-primary elevation text-white" pRipple>Button</button>
            <button class="btn large secondary flat" pRipple pRippleColor="var(--secondaryLowOpacity)">Button</button>
            <a class="btn large" href="https://google.com/" target="_blank" pRipple>Link</a>
            <button class="btn large" disabled pRipple>Button</button>
            <button class="btn large fab" pRipple>
              <p-icon>add</p-icon>
            </button>
            <button class="btn large bg-primary elevation fab" pRipple>
              <p-icon class="text-white">add</p-icon>
            </button>
            <button class="btn large fab flat secondary" pRipple [pRippleCentered]="true"
              pRippleColor="var(--secondaryLowOpacity)">
              <p-icon>add</p-icon>
            </button>
          </div>
        </div>
        <div class="p-divider"></div>
        <div>
          <div class="label-row">
            <span class="t-600">
              Small buttons
            </span>
          </div>
          <div class="btn-row">
            <button class="btn small" pRipple>Button</button>
            <button class="btn small bg-primary elevation text-white" pRipple>Button</button>
            <button class="btn small secondary flat" pRipple pRippleColor="var(--secondaryLowOpacity)">Button</button>
            <a class="btn small" href="https://google.com/" target="_blank" pRipple>Link</a>
            <button class="btn small" disabled pRipple>Button</button>
            <button class="btn small fab" pRipple>
              <p-icon>add</p-icon>
            </button>
            <button class="btn small bg-primary elevation fab" pRipple>
              <p-icon class="text-white">add</p-icon>
            </button>
            <button class="btn small fab flat secondary" pRipple [pRippleCentered]="true"
              pRippleColor="var(--secondaryLowOpacity)">
              <p-icon>add</p-icon>
            </button>
          </div>
        </div>
      </p-section-content>
    </p-section>
    <h5 class="t-700">Customization</h5>
    <br>
    <p>You can freely customize the button's appeareance by simply creating a separate class in CSS and adding in the
      button.</p>
    <br>
  </p-tab>
  <p-tab pTabLabel="References">
    <h4 class="t-700">List of References</h4>
    <br>
    <p>Bellow there is a table with a list with references to all classes that are specific to the
      <code>&lt;button&gt;</code> element.
    </p>
    <br>
    <div class="table-container">
      <p-table [pTableData]="buttonClasses">
        <p-table-column columnName="Class" columnProp="class" [columnTemplate]="template">
          <ng-template #template let-data>
            <code>{{data.class}}</code>
          </ng-template>
        </p-table-column>
        <p-table-column columnName="Description" columnProp="description">
        </p-table-column>
      </p-table>
    </div>
  </p-tab>
</p-tab-group>