.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0.9);
  margin: auto;
  transition: transform 0.15s, opacity 0.15s;
  background-color: white;
  border-radius: 5px;
  max-width: 60%;
  width: 100%;
  box-shadow: 1px 5px 19px -3px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.05);
  opacity: 0;
  z-index: 1004;
}

.modal.large {
  max-width: 90%;
}

.modal.small {
  max-width: 30%;
}

.modal .modal-header {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.modal .modal-content {
  padding: 15px;
  max-height: 80vh;
  overflow: auto;
}

.modal.bottom-sheet {
  top: 100%;
  transform: translateY(100%) translateX(-50%) scale(1);
  border-radius: 5px 5px 0 0;
}

@media only screen and (max-width: 1000px) {
  .modal {
    max-width: 80%;
  }
  .modal.small {
    max-width: 60%;
  }
}

@media only screen and (max-height: 800px) {
  .modal .modal-content {
    max-height: 60vh;
  }
}

@media only screen and (max-height: 325px) {
  .modal .modal-content {
    max-height: 35vh;
  }
}

.modal .modal-footer {
  padding: 10px 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
