<!-- <div class="container-sidenav"> -->
<h2>Buttons</h2>
<hr>
<div class="row text-center">
  <div class="col s12">
    <button class="btn-small">Small Button!</button>
    <button class="btn-small elevation" pRipple>
      <i class="material-icons left">home</i>
      Small Button with Icon!
    </button>
    <button class="btn-small flat" pRipple>
      Small Flat Button!
    </button>
    <a href="https://google.com" target="_blank" class="btn-small" pRipple>Link Button</a>
    <button class="btn-small" disabled>
      Disabled Small Button!
    </button>
  </div>
</div>
<div class="row text-center">
  <div class="col s12">
    <button class="btn bg-secondary">Button!</button>
    <button class="btn elevation bg-secondary" pRipple pRippleColor="#ffffff26">
      <i class="material-icons left">home</i>
      Button w/ Icon!
    </button>
    <button class="btn flat secondary" pRipple>
      <i class="material-icons left">home</i>
      Flat Button w/ Icon!
    </button>
    <a href="https://google.com" target="_blank" class="btn bg-secondary" pRipple pRippleColor="#ffffff26">Link
      Button</a>
    <button class="btn bg-secondary" disabled>
      <i class="material-icons left">home</i>
      Disabled Button w/ Icon!
    </button>
  </div>
</div>
<div class="row text-center">
  <div class="col s12">
    <button class="btn-large bg-primary">Large Button!</button>
    <button class="btn-large elevation bg-primary" pRipple pRippleColor="#ffffff26">
      <i class="material-icons right">home</i>
      Large Button with Icon!
    </button>
    <button class="btn-large flat primary" pRipple>
      <i class="material-icons right">home</i>
      Large Flat Button with Icon!
    </button>
    <a href="https://google.com" target="_blank" class="btn-large bg-primary" p-ripple pRippleColor="#ffffff26">Link
      Button</a>
    <button class="btn-large bg-primary" disabled>
      <i class="material-icons right">home</i>
      Disabled Large Button with Icon!
    </button>
  </div>
</div>
<div class="row text-center">
  <div class="col s6">
    <button class="btn-small floating">
      <i class="material-icons">add</i>
    </button>
    <button class="btn floating bg-secondary">
      <i class="material-icons">add</i>
    </button>
    <button class="btn-large floating bg-primary">
      <i class="material-icons">add</i>
    </button>
    <a href="https://google.com" target="_blank" class="btn-large floating bg-primary">
      <i class="material-icons">link</i>
    </a>
  </div>
  <div class="col s6">
    <button class="btn-small floating elevation" pRipple>
      <i class="material-icons">add</i>
    </button>
    <button class="btn floating bg-secondary elevation" pRipple pRippleColor="#ffffff26">
      <i class="material-icons">add</i>
    </button>
    <button class="btn-large floating bg-primary elevation" pRipple pRippleColor="#ffffff26" pRippleRadius="10">
      <i class="material-icons">add</i>
    </button>
    <a href="https://google.com" target="_blank" class="btn-large elevation floating bg-primary" pRipple
      pRippleColor="#ffffff26">
      <i class="material-icons">link</i>
    </a>
  </div>

</div>
<div class="row text-center">
  <div class="col s6">
    <button class="btn-small floating flat" pRipple pRippleCentered="true">
      <i class="material-icons">add</i>
    </button>
    <button class="btn floating secondary flat" pRipple pRippleCentered="true">
      <i class="material-icons">add</i>
    </button>
    <button class="btn-large floating primary flat" pRipple pRippleCentered="true">
      <i class="material-icons">add</i>
    </button>
    <a href="https://google.com" target="_blank" class="btn-large flat floating" pRipple pRippleCentered="true">
      <i class="material-icons">link</i>
    </a>
  </div>
  <div class="col s6">
    <button class="btn-small floating" disabled>
      <i class="material-icons">add</i>
    </button>
    <button class="btn floating bg-secondary" disabled>
      <i class="material-icons">add</i>
    </button>
    <button class="btn-large floating bg-primary" disabled pRipple rippleCentered="true">
      <i class="material-icons">add</i>
    </button>
    <a class="btn-large bg-primary floating disabled">
      <i class="material-icons">link</i>
    </a>
  </div>
</div>
<!-- </div> -->