.card {
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.card .content {
  padding: 15px;
}

.card .header {
  padding: 15px;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.1);
}

.card .footer {
  padding: 5px 10px;
  border-top: 0.8px solid rgba(0, 0, 0, 0.1);
}

.elevation {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}
