/* .section-container {
  display: block;
  position: relative;
  margin: 20px 0;
}

.section {
  width: 100%;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
}

.section .section-content {
  padding: 25px;
}

.section-container .section-links {
  position: absolute;
  background-color: var(--appBackgroundColor);
}

.section-container .top-align {
  top: -18px;
}
.section-container .bottom-align {
  bottom: -18px;
}
.section-container .right-align {
  right: 0;
}
.section-container .left-align {
  left: 0;
}

.section-container .section-header {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 0 5px;
  background-color: var(--appBackgroundColor);
} */
