/* .range-custom {
  --color: var(--primary);
  width: 100%;
  height: 2px;
  outline: none;
  border: none;
  background-color: rgb(190, 190, 190);
  -webkit-appearance: none;
}

.range-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--color);
  border-radius: 50%;
  transition: .2s ease;
  position: relative;
}

.range-custom::-webkit-slider-thumb:hover {
  transform: scale(1.5);
  cursor: grab;
}
.range-custom::-webkit-slider-thumb:active {
  transform: scale(1.25);
  cursor: grabbing;
} */

.slider {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 5px;
}

.slider .slider-background {
  width: 100%;
  height: 100%;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.slider .slider-background .slider-progress {
  width: 50%;
  height: 100%;
  background-color: var(--primary);
  border-radius: .5px;
}

.slider .slider-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  user-select: none;
  cursor:grab;
}

.slider .slider-thumb:active {
  cursor: grabbing;
}