.all-container {
  position: relative;
}

.slider-container {
  height: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  width: 100%;
  user-select: none;
  vertical-align: middle;
  align-items: center;
  overflow: hidden;
}

.slider {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 5px;
}

.slider .slider-background {
  width: 100%;
  height: 100%;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  clip-path: inset( -100vw -100vw -100vw 0 );
}

.slider .slider-background .slider-progress {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border-radius: .5px;
  transform: translateX(-100%);
}

.slider-thumb {
  position: absolute;
  display: inline-flex;
  width: 15px;
  height: 15px;
  background-color: var(--primary);
  border-radius: 50%;
  top: 55%;
  transform: translateY(-50%) ;
  right: -5px;
  user-select: none;
  cursor:grab;
  align-items: flex-end;
  transition: all .1s ease-in-out;
}

.slider-thumb:active {
  transform: translateY(-50%) scale(1.5);
  cursor: grabbing;
}
.slider-thumb.none {
  background-color: var(--appBackgroundColor);
  box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.thumb-container {
  position: absolute;
  top: 55%;
  width: 100%;
  transform: translateX(-100%);
}
