.select-input-wrap {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.p-select-header {
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: var(--menuPanelColor);
}

.p-select-no-pointer-events {
  pointer-events: none;
}

.p-select-all-multiple {
  padding: 0 0.75em;
  display: flex;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid var(--defaultDividerColor);
}

.p-select-search {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 0.75em;
  border-bottom: 1px solid var(--defaultDividerColor);
}

.selected {
  color: var(--primary);
  background-color: var(--primaryLowOpacity);
}

.selected:hover {
  background-color: var(--primaryLowOpacity);
}

.p-select-multiple-total {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.75;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.p-select-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.p-select-content-options {
  display: contents;
}
