<div class="p-select-parent-wrapper" (click)="openMenu()">
  <input type="text" #input readonly style="user-select: none; cursor: pointer;" [disabled]="pSelectDisabled"
    (focus)="menuOpen ? '' : openMenu()">
  <ng-container *ngIf="selectedTotal > 0 && pSelectMultiple">
    <span class="p-select-multiple-total">
      (+{{selectedTotal}} {{selectedTotal > 1 ? 'others':'other'}})
    </span>
  </ng-container>
  <p-icon class="p-select-arrow">arrow_drop_down</p-icon>
  <div class="p-select-wrapper" #menu>
    <div class="p-select" *ngIf="menuOpen && !pSelectDisabled" @menuAnimation [style]="postionStyle">
      <div class="p-select-content elevation-p8">
        <div class="p-select-header">
          <div class="p-select-search" *ngIf="pSelectSearch">
            <ng-content select="[search-input]"></ng-content>
            <input type="text" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="searchOptions()">
          </div>
          <div class="p-select-all-multiple" *ngIf="pSelectMultiple && pSelectAllInput">
            <p-checkbox [label]="allSelected ? 'Deselect All' : 'Select All'" [checked]="allSelected"
              [indeterminate]="indeterminateSelected()" (change)="selectAll($event.target.checked)">
            </p-checkbox>
          </div>
        </div>
        <div class="p-select-content-options">
          <ng-content></ng-content>
          <ng-template>
            <p-option *ngFor="let option of pSelectData" [value]="option.id || option.name"
              [disabled]="option.disabled">
              {{option.name}}</p-option>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>