<div [class]="pSelectDisabled ? 'p-select-parent-wrapper p-select-disabled' : 'p-select-parent-wrapper'"
  (click)="openMenu()">
  <input type="text" #input pInput readonly style="user-select: none; cursor: pointer;" [disabled]="pSelectDisabled"
    (focus)="openMenu()">
  <ng-container p-suffix *ngIf="selectedTotal > 0 && pSelectMultiple">
    <span class="p-select-multiple-total">
      (+{{selectedTotal}} {{selectedTotal > 1 ? 'others':'other'}})
    </span>
  </ng-container>
  <p-icon p-suffix>arrow_drop_down</p-icon>
  <!-- <p-fieldset [pFieldsetLabelText]="pSelectLabel" [pFieldsetAppearence]="pSelectAppearence" class="select-input-wrap"
    (click)="openMenu()">
    <p-icon p-suffix>arrow_drop_down</p-icon>
  </p-fieldset> -->
  <div class="p-select-wrapper" #menu>
    <div class="p-select elevation" *ngIf="menuOpen && !pSelectDisabled" @menuAnimation>
      <div class="p-select-header">
        <div class="p-select-search" *ngIf="pSelectSearch">
          <ng-content select="[search-input]"></ng-content>
        </div>
        <div class="p-select-all-multiple" *ngIf="pSelectMultiple && pSelectAllInput">
          <p-checkbox [pCheckboxLabel]="allSelected ? 'Deselect All' : 'Select All'" [pCheckboxChecked]="allSelected"
            [pCheckboxIndeterminate]="indeterminateSelected()" (change)="selectAll($event.target.checked)">
          </p-checkbox>
        </div>
      </div>
      <div class="p-select-content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>