<div class="fieldset">
  <div>
    <input type="text" class="p-input classic select" pSelect id="{{pSelectId}}" readonly>
    <span class="label-wrapper" [id]="pSelectId + '-label'">
      <label for="{{pSelectId}}" class="p-input-label">
        <i class="material-icons left" *ngIf="labelIconLeft">{{labelIconLeft}}</i>
        {{pSelectLabelText}}
        <i class="material-icons right" *ngIf="labelIconRight">{{labelIconRight}}</i>
      </label>
    </span>
    <div class="p-input-bar"></div>
  </div>
</div>
<div class="select-wrapper" [id]="pSelectId + '-wrapper'">
  <div class="p-select elevation" [id]="pSelectId + '-container'">
    <div class="p-select-header" *ngIf="pSelectSearch">
      <input type="text" placeholder="Search">
    </div>
    <div class="p-select-header" *ngIf="pSelectAll">
      <p-checkbox checkId="selAll" [checkboxText]="allAreSelected ? 'Deselect All' : 'Select All'"
        (checkValue)="selectAll($event)"></p-checkbox>
    </div>
    <div class="p-select-item" pRipple *ngFor="let opt of pSelectItems" [id]="'option-' + opt.id"
      (click)="pSingleSelect ? '' : selectOne(opt)">
      <p-checkbox [checkId]="'check-' + opt.id" [hasRipple]="false" *ngIf="!pSingleSelect" (click)="false"
        style="pointer-events: none;"></p-checkbox>
      {{opt.option}}
    </div>
  </div>
</div>