<h5>The grid system was made to be similar to frameworks like bootstrap and materializecss, with a simple system of a
  row
  and 12 columns.</h5>
<br>
<p-section>
  <ng-container section-content>
    <div class="row">
      <div class="col s1">
        <div class="grid-example">1</div>
      </div>
      <div class="col s1">
        <div class="grid-example">2</div>
      </div>
      <div class="col s1">
        <div class="grid-example">3</div>
      </div>
      <div class="col s1">
        <div class="grid-example">4</div>
      </div>
      <div class="col s1">
        <div class="grid-example">5</div>
      </div>
      <div class="col s1">
        <div class="grid-example">6</div>
      </div>
      <div class="col s1">
        <div class="grid-example">7</div>
      </div>
      <div class="col s1">
        <div class="grid-example">8</div>
      </div>
      <div class="col s1">
        <div class="grid-example">9</div>
      </div>
      <div class="col s1">
        <div class="grid-example">10</div>
      </div>
      <div class="col s1">
        <div class="grid-example">11</div>
      </div>
      <div class="col s1">
        <div class="grid-example">12</div>
      </div>
    </div>
  </ng-container>
</p-section>
<br>
<h5>Each of the 12 columns are divided by 3 types of screen: <strong>Small, Medium and Large</strong>.
  So you can set a specific amount of columns for an element to occupy on a certain screen size.</h5>
<br>
<h5>For reference, here are the screen width values in pixels for each type:</h5>
<ul>
  <li><b>Small:</b> 600px and bellow;</li>
  <li><b>Medium:</b> 1000px and bellow;</li>
  <li><b>Large:</b> 1001px and above;</li>
</ul>
<br>
<h5>Here's some examples of it's usage:</h5>
<p-section>
  <ng-container section-content>
    <div>
      <div class="row">
        <div class="col m6 s12">
          <div class="grid-example">6 Columns on medium and above; 12 Columns on small</div>
        </div>
        <div class="col m6 s12">
          <div class="grid-example">6 Columns on medium and above; 12 Columns on small</div>
        </div>
      </div>
    </div>
    <br>
    <div>
      <div class="row">
        <div class="col l3 m6 s12">
          <div class="grid-example">3 Columns on large; 6 on medium; 12 on small;</div>
        </div>
        <div class="col l3 m6 s12">
          <div class="grid-example">3 Columns on large; 6 on medium; 12 on small;</div>
        </div>
        <div class="col l3 m6 s12">
          <div class="grid-example">3 Columns on large; 6 on medium; 12 on small;</div>
        </div>
        <div class="col l3 m6 s12">
          <div class="grid-example">3 Columns on large; 6 on medium; 12 on small;</div>
        </div>
      </div>
    </div>
  </ng-container>
</p-section>