<div class="container-sidenav">
  <h2>Grid</h2>
  <hr>
  <div>
    <h5>12 colunas</h5>
    <br>
    <div class="row">
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
      <div class="col s1">
        <div class="grid-example"></div>
      </div>
    </div>
  </div>
  <br>
  <div>
    <h5>6 colunas em telas medias/12 colunas em telas pequenas</h5>
    <br>
    <div class="row">
      <div class="col m6 s12">
        <div class="grid-example"></div>
      </div>
      <div class="col m6 s12">
        <div class="grid-example"></div>
      </div>
    </div>
  </div>
  <br>
  <div>
    <h5>3 colunas em telas grandes/6 colunas em telas médias/ 12 colunas em telas pequenas</h5>
    <br>
    <div class="row">
      <div class="col l3 m6 s12">
        <div class="grid-example"></div>
      </div>
      <div class="col l3 m6 s12">
        <div class="grid-example"></div>
      </div>
      <div class="col l3 m6 s12">
        <div class="grid-example"></div>
      </div>
      <div class="col l3 m6 s12">
        <div class="grid-example"></div>
      </div>
    </div>
  </div>
</div>