<label class="switch-layout" *ngIf="this.checkRequiredFields(this.pSwitchId)" pRipple pRippleCentered="true"
  [pRippleTriggerId]="pSwitchId + 'ripple'" [pRippleColor]="switchVal ? undefined : this.rippleColor">
  <span class="switch-toggle">
    <span class="checkbox-text left">
      <i class="material-icons left" *ngIf="pSwitchIconLeft">{{pSwitchIconLeft}}</i>
      {{pSwitchLabelLeft}}
    </span>
    <div class="switch-container" id="switch-cont">
      <input type="checkbox" id="{{pSwitchId}}" (change)="emitSwitchValue($event.srcElement.checked);">
      <div class="switch-thumb-container">
        <div class="switch-thumb" id="switch-thumb">
          <div class="switch-ripple" [id]="pSwitchId + 'ripple'" *ngIf="hasRipple"></div>
        </div>
      </div>
    </div>
    <span class="checkbox-text right">
      <i class="material-icons right" *ngIf="pSwitchIconRight">{{pSwitchIconRight}}</i>
      {{pSwitchLabelRight}}
    </span>
  </span>
</label>