.ripple-example {
  margin: 15px 1rem;
  width: 250px;
  height: 250px;
  line-height: 250px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.ripple-opt {
  margin: 0 1rem 0 0;
}

.code-button {
  position: absolute;
  top: 0;
  right: 0;
}
