<div class="text-center bg-primary" style="height: 400px;">
  <div style="position: relative; top: 50%; transform: translateY(-50%);">
    <h1>ANGULAR PRODUCTIVE</h1>
    <br>
    <h5>A simple framework based on Google's Material Design</h5>
    <br>
    <br>
    <button class="btn-large bg-secondary elevation" pRipple pRippleColor="#ffffff26" [routerLink]="['/Components']">
      All Components
    </button>
    <button class="btn-large flat" style="color: white;" pRipple pRippleColor="#ffffff26">
      Get Started
    </button>
  </div>
</div>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>