<div class="bg-primary text-white dFlex justify-center fDirectionColumn" style="height: 400px;">
  <div class="text-center">
    <div class="heading">
      <h1>ANGULAR PRODUCTIVE</h1>
    </div>
    <div class="content-home">
      <h6 class="t-300">An open components framework, using the Material Design specifications.</h6>
    </div>
    <button class="btn elevation" pRipple [routerLink]="['/Components']">
      All Components
    </button>
  </div>
</div>
<div class="container-content">
  <div class="dFlex justify-center">
    <div class="exp-item" *ngFor="let item of infoData">
      <h5>{{item.header}}</h5>
      <p>{{item.description}}</p>
    </div>
  </div>
</div>