.heading {
  margin-bottom: 2rem;
}
.content-home {
  margin-bottom: 2rem;
}

.exp-item {
  margin: 0 1rem 1rem 0;
}

@media screen and (max-width: 768px) {
  .text-info {
    flex-direction: column;
  }
  .exp-item {
    margin: 0 0 2rem 0;   
  }
}