<div class="text-center bg-primary" style="height: 400px;">
  <div style="position: relative; top: 50%; transform: translateY(-50%);">
    <div class="heading">
      <h1>ANGULAR PRODUCTIVE</h1>
    </div>
    <div class="content-home">
      <h6 class="t-300">An open components framework using the Material Design specifications.</h6>
    </div>
    <button class="btn-large bg-secondary elevation" pRipple pRippleColor="#ffffff26" [routerLink]="['/Components']">
      All Components
    </button>
    <button class="btn-large flat text-white" pRipple pRippleColor="#ffffff26">
      Get Started
    </button>
  </div>
</div>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>