<div class="pRelative dFlex">
  <input type="text" [placeholder]="placeholder" readonly class="p-select-value" (focus)="openSelectMenu()" #valueInput>
  <ng-container
    *ngIf="allSelectedOption && selectMode === 'multiple' && selectMultipleInputMode === 'length' && allSelectedOption.length > 1">
    <span style="white-space: nowrap; font-size: 14px;" class="t-500">
      (+{{allSelectedOption.length - 1}} {{allSelectedOption.length > 2 ? 'others':'other'}})
    </span>
  </ng-container>
  <i class="material-icons">arrow_drop_down</i>
</div>
<div class="p-select-wrapper-new" #selectMenu [style]="styleString">
  <div class="p-select-body elevation-p8" *ngIf="menuOpen" @menuAnimation>
    <div class="p-select-header">
      <div class="p-search-input" *ngIf="search">
        <input type="text" placeholder="Search..." class="p-select-search">
      </div>
      <div class="p-select-all" *ngIf="selectAllForMultiple && selectMode === 'multiple'">
        <p-checkbox color="var(--primary)">Select All</p-checkbox>
      </div>
    </div>
    <div>
      <ng-content></ng-content>
      <app-opt *ngFor="let data of selectData" [value]="data.value">{{data.label}}</app-opt>
    </div>
  </div>
</div>