:root,
:root.light {
  --primary: #3f51b5;
  --secondary: #e91e63;
  --primaryLowOpacity: #3f51b51e;
  --secondaryLowOpacity: #e91e631e;
  --appBackgroundColor: white;
  --menuPanelColor: rgb(250, 250, 250);
  --defaultDividerColor: rgba(202, 202, 202, 0.603);
  --SwitchesBorders: rgb(134, 134, 134);
  --textColor: #262626;
  --contrastTextColor: #fdfdfd;
  --rippleDefaultColor: rgba(0, 0, 0, 0.13);
  --fieldsetColor: hsla(0, 0%, 94%, 1);
  --fieldsetUnderlineColor: rgb(179, 179, 179);
  --snackbarDefaultColor: rgb(24, 24, 24);
  --snackbarTextColor: white;
  --backdropColor: #000;
  color-scheme: light;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #e91e63;
    --secondary: rgb(114, 125, 134);
    --primaryLowOpacity: #e91e631e;
    --secondaryLowOpacity: rgba(114, 125, 134, 0.13);
    --appBackgroundColor: #303030;
    --menuPanelColor: #424242;
    --defaultDividerColor: rgba(161, 161, 161, 0.25);
    --SwitchesBorders: rgb(134, 134, 134);
    --textColor: rgb(250, 250, 250);
    --contrastTextColor: #fdfdfd;
    --rippleDefaultColor: #ffffff26;
    --fieldsetColor: hsla(0, 0%, 100%, 0.15);
    --fieldsetUnderlineColor: rgb(179, 179, 179);
    --snackbarDefaultColor: rgb(255, 255, 255);
    --snackbarTextColor: #262626;
    --backdropColor: rgba(117, 114, 114, 1);
    color-scheme: dark;
  }
} */

:root.dark {
  --primary: #e91e63;
  --secondary: rgb(114, 125, 134);
  --primaryLowOpacity: #e91e631e;
  --secondaryLowOpacity: rgba(114, 125, 134, 0.13);
  --appBackgroundColor: #303030;
  --menuPanelColor: #424242;
  --defaultDividerColor: rgba(161, 161, 161, 0.25);
  --SwitchesBorders: rgb(134, 134, 134);
  --textColor: rgb(250, 250, 250);
  --contrastTextColor: #fdfdfd;
  --rippleDefaultColor: #ffffff26;
  --fieldsetColor: hsla(0, 0%, 100%, 0.15);
  --fieldsetUnderlineColor: rgb(179, 179, 179);
  --snackbarDefaultColor: rgb(255, 255, 255);
  --snackbarTextColor: #262626;
  --backdropColor: rgba(117, 114, 114, 1);
  color-scheme: dark;
}

* {
  font-family: "Roboto", Arial, sans-serif;
}

html,
body {
  margin: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: var(--textColor);
  background-color: var(--appBackgroundColor);
}

body.vh-height {
  height: 100vh !important;
}

.p-components-container {
  display: contents !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
label,
pre,
button {
  margin: 0;
  color: inherit;
}

br {
  user-select: none;
}
i {
  pointer-events: none;
}

hr {
  height: 1px;
  border: 0;
  background-color: var(--defaultDividerColor);
  color: var(--defaultDividerColor);
  margin: 5px 0;
}

code,
pre {
  font-family: monospace;
  background-color: var(--menuPanelColor);
  white-space: pre-wrap;
}

footer {
  width: 100%;
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
}

/* #region Typography */
h1 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 2rem;
}
h2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.5px;
}
h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
h4 {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.25px;
}
h5 {
  font-size: 1.4rem;
  font-weight: 400;
}
h6 {
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

span,
p {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.15px;
}

p {
  line-height: 28px;
}

label {
  font-size: 14px !important;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.t-100 {
  font-weight: 100;
}
.t-200 {
  font-weight: 200;
}
.t-300 {
  font-weight: 300;
}
.t-400 {
  font-weight: 400;
}
.t-500 {
  font-weight: 500;
}
.t-600 {
  font-weight: 600 !important;
}
.t-700 {
  font-weight: 700;
}
.t-800 {
  font-weight: 800;
}
.t-900 {
  font-weight: 900;
}
/* #endregion Typography */

/* #region GridStyles */
.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100%;
}
.p-container {
  position: relative;
  display: block;
  overflow: auto;
  box-sizing: border-box;
}
.content-contain {
  display: block;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}
.container-content {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 30px;
}
@media screen and (max-width: 1000px) {
  .sidenav-container .container {
    width: calc(100%);
  }
}
@media screen and (max-width: 600px) {
  .container,
  .container-sidenav {
    padding: 10px 15px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  margin: 0 auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row .col {
  box-sizing: border-box;
  float: left;
  padding: 0 5px;
}

.row .col.s1 {
  width: 8.33%;
}
.row .col.s2 {
  width: 16.33%;
}
.row .col.s3 {
  width: 25%;
}
.row .col.s4 {
  width: 33.33%;
}
.row .col.s5 {
  width: 41.66%;
}
.row .col.s6 {
  width: 50%;
}
.row .col.s7 {
  width: 58.33%;
}
.row .col.s8 {
  width: 66.66%;
}
.row .col.s9 {
  width: 75%;
}
.row .col.s10 {
  width: 83.33%;
}
.row .col.s11 {
  width: 91.66%;
}
.row .col.s12 {
  width: 100%;
}
@media screen and (min-width: 601px) {
  .row .col.m1 {
    width: 8.33%;
  }
  .row .col.m2 {
    width: 16.33%;
  }
  .row .col.m3 {
    width: 25%;
  }
  .row .col.m4 {
    width: 33.33%;
  }
  .row .col.m5 {
    width: 41.66%;
  }
  .row .col.m6 {
    width: 50%;
  }
  .row .col.m7 {
    width: 58.33%;
  }
  .row .col.m8 {
    width: 66.66%;
  }
  .row .col.m9 {
    width: 75%;
  }
  .row .col.m10 {
    width: 83.33%;
  }
  .row .col.m11 {
    width: 91.66%;
  }
  .row .col.m12 {
    width: 100%;
  }
}
@media screen and (min-width: 999px) {
  .row .col.l1 {
    width: 8.33%;
  }
  .row .col.l2 {
    width: 16.33%;
  }
  .row .col.l3 {
    width: 25%;
  }
  .row .col.l4 {
    width: 33.33%;
  }
  .row .col.l5 {
    width: 41.66%;
  }
  .row .col.l6 {
    width: 50%;
  }
  .row .col.l7 {
    width: 58.33%;
  }
  .row .col.l8 {
    width: 66.66%;
  }
  .row .col.l9 {
    width: 75%;
  }
  .row .col.l10 {
    width: 83.33%;
  }
  .row .col.l11 {
    width: 91.66%;
  }
  .row .col.l12 {
    width: 100%;
  }
}
/* #endregion GridStyles */