<p-fieldset pFieldsetAppearence="filled" pFieldsetLabelText="Select World">
  <app-select-ref placeholder="caraio" [(selectValue)]="value" [selectMode]="'multiple'"
    selectMultipleInputMode="length">
    <!-- [selectData]="selectData" -->
    <app-opt value="23">Opt 1</app-opt>
    <app-opt value="3">Opt 5</app-opt>
    <app-opt value="7">Opt 4 </app-opt>
    <app-opt value="0">Opt 2</app-opt>
    <!-- <app-opt>Opt1</app-opt> -->
    <!-- <app-opt>Opt2</app-opt> -->
    <!-- <app-opt>Opt3</app-opt> -->
  </app-select-ref>
</p-fieldset>

{{value}}

<button class="btn small outlined" pRipple (click)="open()">
  Open Snack
</button>

<app-snackbar></app-snackbar>