<p-card>
  <div class="dFlex fDirectionRow">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="200">
    <div>
      <p-card-header>
        <h2>Header</h2>
      </p-card-header>
      <p-card-content>Hello World, I am a card</p-card-content>
      <p-card-footer>
        <button class="btn flat fab" pRipple [pRippleCentered]="true">
          <p-icon>favorite</p-icon>
        </button>
        <button class="btn flat fab" pRipple [pRippleCentered]="true">
          <p-icon>share</p-icon>
        </button>
      </p-card-footer>
    </div>
  </div>
</p-card>

<p-slider [(pSliderValue)]="numb" [pSliderMinValue]="50" [pSliderMaxValue]="250"></p-slider>
{{numb}}

<button [pModalTrigger]="modal">Modal</button>

<p-checkbox [(ngModel)]="bolltest">Modal Static</p-checkbox>

<p-modal #modal [pModalStatic]="bolltest">
  <p-modal-header>
    <h3>Header</h3>
  </p-modal-header>
  <p-modal-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis venenatis arcu et feugiat. Pellentesque
      lorem
      nulla, malesuada ac est eu, imperdiet condimentum leo. Pellentesque vel rhoncus purus. Vestibulum pharetra, dui
      feugiat
      rutrum condimentum, neque risus facilisis arcu, et venenatis tellus eros quis quam. Pellentesque euismod eros non
      est
      laoreet, vel aliquam risus porta. Suspendisse id lacinia purus, nec tempus sapien. Phasellus id est commodo,
      sagittis
      urna vitae, finibus neque. Maecenas interdum metus id pellentesque pharetra. Pellentesque luctus, velit quis
      imperdiet
      sodales, purus mauris tincidunt felis, id vestibulum odio elit ut ligula. Sed at pretium augue, elementum tempor
      risus.
      Praesent cursus gravida faucibus. In est odio, sollicitudin ut fermentum vitae, placerat sed eros.
    </p>
  </p-modal-content>
  <p-modal-footer>
    <div class="spacer"></div>
    <button class="btn flat" (click)="refuse(modal)" pRipple>Refuse</button>
    <button class="btn flat" (click)="accept(modal)" pRipple>Accept</button>
  </p-modal-footer>
</p-modal>

{{accepText}}

<br>

<p-newtab-group [(selectedIndex)]="otherIdx">
  <p-new-tab tabIcon="verified">ONE</p-new-tab>
  <p-new-tab tabLabel="some2" [disabled]="true">TOW</p-new-tab>
  <p-new-tab tabLabel="some">THREE</p-new-tab>
  <p-new-tab tabLabel="some">GOR</p-new-tab>
  <p-new-tab tabLabel="some">
    <p-section>
      <p-section-code>
        <p-newtab-group>
          <p-new-tab tabLabel="HTML">
            <p-section-code-content>
              &lt;html&gt;

              &lt;head&gt;

              &lt;/head&gt;

              &lt;body&gt;
              &lt;/body&gt;
              &lt;/html&gt;
            </p-section-code-content>
          </p-new-tab>
          <p-new-tab tabLabel="CSS">CSS</p-new-tab>
        </p-newtab-group>
      </p-section-code>
    </p-section>
  </p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
  <p-new-tab tabLabel="some"></p-new-tab>
</p-newtab-group>

{{otherIdx}}