.sidenav {
  background-color: var(--appBackgroundColor);
  position: sticky;
  height: 100%;
  width: 250px;
  top: 0;
  border-right: 2px solid rgb(233, 233, 233);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

