<div class="fieldset">
  <div>
    <div class="input-wrapper {{appearence}}">
      <div class="prefix">
        <ng-content select="[p-prefix]"></ng-content>
      </div>
      <div class="form-field">
        <ng-content></ng-content>
        <span class="label-wrap">
          <label class="label-text">
            <span>
              {{labelText}}
            </span>
          </label>
        </span>
      </div>
      <div class="suffix">
        <ng-content select="[p-suffix]"></ng-content>
      </div>
    </div>
    <!-- <div class="p-input-bar"></div> -->
    <div class="input-ink-bar">
      <div class="input-ink-bar-ripple"></div>
    </div>
  </div>
  <span class="helper-text {{helperState}}" *ngIf="hasHelperText || hasError()">
    {{helperText}}
  </span>
</div>