.navbar {
  display: flex;
  position: relative;
  padding: 0 10px;
  outline: none;
  border: none;
  z-index: 998;
  box-sizing: border-box;
  color: black;
  background-color: rgb(240, 240, 240);
}

.navbar .wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
}