.navbar {
  position: relative;
  background-color: rgb(240, 240, 240);
  color: black;
  padding: 0 0.5rem;
  outline: none;
  border: none;
  z-index: 998;
}
.navbar .wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.navbar.elevation {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
}
.navbar.fixed {
  position: fixed;
  width: 100%;
  padding: 0;
  top: 0;
  z-index: 10;
}
.wrap-out-nav {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .navbar {
    margin-left: 0 !important;
  }
}
