.select-input-wrap {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.p-select-parent-wrapper {
  position: relative;
}

.p-select-no-pointer-events {
  pointer-events: none;
}

.p-select-all-multiple {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.p-select-search {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 1rem;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.p-select-search input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  caret-color: var(--primary);
  color: var(--textColor);
}

.selected {
  color: var(--primary);
  background-color: var(--primaryLowOpacity);
}