<div class="tab-group-header">
  <button pRipple [pRippleCentered]="true" #backButton (click)="scrollBackward($event)">
    <i class="material-icons">chevron_left</i>
  </button>
  <div class="tab-header-container" #scrollContainer>
    <div class="tab-list" style="transform: translateX(0);" #tabsContainer>
      <div class="all-tabs">
        <ng-content></ng-content>
        <div class="tab-ink-bar"></div>
      </div>
    </div>
  </div>
  <button pRipple [pRippleCentered]="true" #forwardButton (click)="scrollForward($event)">
    <i class="material-icons">navigate_next</i>
  </button>
</div>
<div class="tab-content"></div>