<div style="width: 300px;">
  <p-fieldset pFieldsetLabelText="Datepicker">
    <input type="text" pInput #dateInput>
    <button class="btn flat fab" pDateTrigger [triggerFor]="dat" p-suffix pRipple [pRippleCentered]="true">
      <p-icon>today</p-icon>
    </button>
    <app-datepickernew #dat [(ngModel)]="variab" [dateInput]="dateInput" locale="pt-BR"></app-datepickernew>
  </p-fieldset>

  <p-fieldset pFieldsetLabelText="Datepicker (Old)">
    <input type="text" pInput pDatepickerTrigger [pTriggerFor]="date">
    <p-datepicker #date></p-datepicker>
  </p-fieldset>
</div>

{{variab | date : 'dd/MM/yyyy'}}