<p-collapsible-container>
  <ng-container collapsible-header>
    Collapse
  </ng-container>
  <p-collapsible>
    <li>
      <a>Sas</a>
    </li>
  </p-collapsible>
</p-collapsible-container>
<p-collapsible-container>
  <ng-container collapsible-header>
    Collapse 2
  </ng-container>
  <p-collapsible>
    <li>
      <a class="btn bg-primary">Sas</a>
    </li>
    <br>
    <li>
      <span>This is a Collapsible content, it supports text, inputs, and buttons.</span>
    </li>
  </p-collapsible>
</p-collapsible-container>