.tab {
  height: 46px;
  line-height: 46px;
  text-align: center;
  user-select: none;
  min-width: 150px;
  width: auto;
  display: inline-block;
  max-width: 250px;
  cursor: pointer;
}

.tab span {
  pointer-events: none;
}