.tab {
  position: relative;
  height: 46px;
  box-sizing: border-box;
  padding: 0 25px;
  line-height: 46px;
  user-select: none;
  min-width: 150px;
  padding: 0 25px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab span {
  pointer-events: none;
}

.tab.active span{
  color: var(--primary);
}

.tab-body {
  display: none;
}