<label [class]="pCheckboxLabelPosition === 'left' ?  'p-checkbox-wrapper reverse' : 'p-checkbox-wrapper'" pRipple
  [pRippleCentered]="true" [pRippleTriggerFor]="ripple" [pRippleColor]="pCheckboxChecked ?  '' : rippleColor"
  [pRippleDuration]="300">
  <span class="p-checkbox-container">
    <input type="checkbox" [checked]="pCheckboxChecked" [indeterminate]="pCheckboxIndeterminate"
      [disabled]="pCheckboxDisabled" (change)="registerChecked($event)" (blur)="blur($event)" #checkbox>
    <span class="p-checkbox-ripple" #ripple></span>
    <span class="p-checkbox-frame"></span>
    <span class="p-checkbox-background" #background>
      <svg version="1.1" focusable="false" viewBox="0 0 24 24" xml:space="preserve" class="pAbsolute">
        <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3 " class="p-checkbox-mark" #checkMark></path>
      </svg>
      <div class="p-checkbox-indeterminate" #indetMark></div>
    </span>
  </span>
  <span class="p-checkbox-text">
    <ng-content></ng-content>
  </span>
</label>