.p-checkbox-wrapper {
  display: inline-flex;
  flex-direction: row;
  user-select: none;
  align-items: center;
  cursor: pointer;
}

.p-checkbox-text-left,
.p-checkbox-text-right {
  margin: 0 1rem 0 1rem;
}

.p-checkbox-container input {
  transform: scale(0);
  opacity: 0;
}

.p-checkbox-container {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.p-checkbox-frame {
  border: 2px solid rgb(114, 114, 114);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
}

.p-checkbox-background {
  background-color: var(--primary);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  transition: 150ms cubic-bezier(0, 0.99, 0.86, 0.99);
  opacity: 0;
}

.p-checkbox-ripple {
  position: absolute;
  left: calc(50% - 21px);
  top: calc(50% - 21px);
  height: 42px;
  width: 42px;
  border-radius: 50%;
  pointer-events: none;
}

.p-checkbox-mark {
  stroke-width: 2.33px;
  transform-origin: center;
  stroke: var(--appBackgroundColor);
}

.p-checkbox-indeterminate {
  position: absolute;
  width: calc(40% + 4px);
  height: 2px;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--appBackgroundColor);
  opacity: 0;
  transform-origin: left center;
}

input:checked ~ .p-checkbox-background {
  opacity: 1;
}

input:indeterminate ~ .p-checkbox-background,
input:indeterminate ~ .p-checkbox-background .p-checkbox-indeterminate {
  opacity: 1;
}

input:indeterminate ~ .p-checkbox-background .p-checkbox-mark {
  opacity: 0;
}

@keyframes notCheckedToIndeterminate {
  0% {
    width: 10%;
  }
  100% {
    width: calc(40% + 4px);
  }
}

@keyframes checkedToIndeterminate {
  0% {
    transform: rotateZ(-45deg) translateX(-50%) translateY(-50%);
  }
  100% {
    transform: rotateZ(0) translateX(-50%) translateY(-50%);
  }
}

@keyframes checkmarkCheckToIndeterminate {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg);
  }
}

@keyframes mixedIndeterminateToChecked {
  0% {
    opacity: 1;
    transform: rotate(0) translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: rotate(180deg) translateX(-50%) translateY(-50%);
  }
}

@keyframes checkmarkIndeterminateToChecked {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes checkmarkCheck {
  0% {
    stroke-dasharray: 70;
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dasharray: 70;
    stroke-dashoffset: 0;
  }
}
