<div class="bg-primary"
  style="height: 50px; line-height: 50px; padding: 0 15px; box-sizing:border-box; width: 100%; color: white;">
  <button (click)="sideEx.toggle()" class="btn flat" pRipple [pRippleCentered]="true" pRippleColor="#ffffff26"
    style="top: 2px; position: relative; display: inline-block;">
    <i class="material-icons">menu</i>
  </button>
  <h5 style="display: inline-block;">{{sectionName}}</h5>
</div>
<p-sidenav-container>
  <p-sidenav #sideEx>
    <a pRipple *ngFor="let route of routes" [routerLink]="[route.route]">{{route.name}}</a>
  </p-sidenav>
  <p-sidenav-content [sidenav]="sideEx">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </p-sidenav-content>
</p-sidenav-container>