<div class="bg-primary"
  style="height: 50px; line-height: 50px; padding: 0 15px; box-sizing:border-box; width: 100%; color: white;">
  <button (click)="sideEx.toggle()" class="btn flat" pRipple [pRippleCentered]="true" pRippleColor="#ffffff26"
    style="top: 2px; position: relative; display: inline-block;">
    <i class="material-icons">menu</i>
  </button>
  <h5 style="display: inline-block;">{{sectionName}}</h5>
</div>
<p-sidenav-container>
  <p-sidenav #sideEx>
    <a pRipple>Containers</a>
    <a pRipple [routerLink]="['Grid']">Grid</a>
    <a pRipple [routerLink]="['Buttons']">Button</a>
    <a pRipple>Input Field</a>
    <a pRipple>Cards</a>
    <a pRipple [routerLink]="['Ripple']">Ripple</a>
    <a pRipple [routerLink]="['Checkboxes']">Checkbox</a>
    <a pRipple>Toggle Switch</a>
    <a pRipple>Modal Dialog</a>
    <a pRipple>Snackbar</a>
    <a pRipple [routerLink]="['Menu']">Menu</a>
    <a pRipple>Badges</a>
    <a pRipple>Tooltips</a>
    <a pRipple>Custom Select</a>
    <a pRipple>Radio Button</a>
    <a pRipple>Section</a>
    <a pRipple>Collapsible</a>
  </p-sidenav>
  <p-sidenav-content [sidenav]="sideEx">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </p-sidenav-content>
</p-sidenav-container>

<!-- <div class="sidenav-container-a">
  <p-sidenav sidenavId="side-ex" #side>
    <ng-container>
      <a pRipple>Containers</a>
      <a pRipple [routerLink]="['Grid']">Grid</a>
      <a pRipple [routerLink]="['Buttons']">Button</a>
      <a pRipple>Input Field</a>
      <a pRipple>Cards</a>
      <a pRipple [routerLink]="['Ripple']">Ripple</a>
      <a pRipple [routerLink]="['Checkboxes']">Checkbox</a>
      <a pRipple>Toggle Switch</a>
      <a pRipple>Modal Dialog</a>
      <a pRipple>Snackbar</a>
      <a pRipple [routerLink]="['Menu']">Dropdown Menu</a>
      <a pRipple>Badges</a>
      <a pRipple>Tooltips</a>
      <a pRipple>Custom Select</a>
      <a pRipple>Radio Button</a>
      <a pRipple>Section</a>
      <a pRipple>Collapsible</a>
    </ng-container>
  </p-sidenav>
  <div class="cont-extra">
    <div class="container" style="width: 100%;">
    </div>
  </div>
</div> -->