<div class="bg-primary dFlex align-items-center text-white section-head">
  <button (click)="sideEx.toggle()" class="btn flat text-white fab" pRipple [pRippleCentered]="true"
    pRippleColor="#ffffff26">
    <i class="material-icons">menu</i>
  </button>
  <h5>{{sectionName}}</h5>
</div>
<p-sidenav-container>
  <p-sidenav #sideEx [backdrop]="true" [pushContent]="true">
    <a pRipple *ngFor="let route of routes" [routerLink]="[route.route]">{{route.name}}</a>
  </p-sidenav>
  <p-sidenav-content [sidenav]="sideEx">
    <div class="container-content">
      <router-outlet></router-outlet>
    </div>
  </p-sidenav-content>
</p-sidenav-container>