<div>
  <p-tab-group>
    <p-tab pTabLabel="Documentation">
      <br>
      <h5>Checkboxes are check</h5>
      <p-section>
        <ng-container section-content>
          <p-checkbox pCheckboxId="Check" pCheckboxLabel="Checked" [(ngModel)]="chck"></p-checkbox>
          <p-checkbox pCheckboxId="Indet" pCheckboxLabel="Indeterminate" [(ngModel)]="indet"></p-checkbox>
          <p-checkbox pCheckboxId="Disa" pCheckboxLabel="Disabled" [(ngModel)]="dis"></p-checkbox>
          <br>
          <br>
          <p-checkbox pCheckboxId="ex" pCheckboxLabel="Checkbox" [(ngModel)]="chck" [pCheckboxDisabled]="dis"
            [pCheckboxIndeterminate]="indet">
          </p-checkbox>
        </ng-container>
      </p-section>
    </p-tab>
    <p-tab pTabLabel="References">
      <code>
      </code>
    </p-tab>
  </p-tab-group>
</div>