<div class="content-wrapper">
  <div class="elevation" style="z-index: 998;">
    <app-navbar backgroundColor="bg-primary" [elevated]="false">
      <ng-container navbarContent>
        <ul class="left ">
          <li>
            <button class="btn flat" pRipple pRippleColor="#ffffff26" [routerLink]="['/']">
              Angular Productive
            </button>
          </li>
          <li class="display-on-medium-and-above">
            <button class="btn-small flat" pRipple pRippleColor="#ffffff26">
              Get Started
            </button>
          </li>
          <li class="display-on-medium-and-above">
            <button class="btn-small bg-secondary" pRipple pRippleColor="#ffffff26" [routerLink]="['/Components']">
              Components
            </button>
          </li>
        </ul>
        <ul class="right">
          <li>
            <a class="btn flat display-on-medium-and-above" pRipple pRippleColor="#ffffff26"
              href="https://github.com/Productive-Team/angular-productive" target="_blank">
              <img src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"
                style="top: 12px; position: relative; pointer-events: none;" class="left">
              Github
            </a>
            <a class="btn-small flat fab display-on-small-only" pRipple pRippleColor="#ffffff26"
              [pRippleCentered]="true" href="https://github.com/Productive-Team/angular-productive" target="_blank"
              style="top: 50%; transform: translateY(-50%);">
              <img src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"
                class="left"
                style="position: relative; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); pointer-events: none;">
            </a>
          </li>
        </ul>
      </ng-container>
    </app-navbar>
    <app-navbar size="small" [elevated]="false" backgroundColor="bg-primary" class="display-on-small-only">
      <ng-container navbarContent>
        <ul>
          <li>
            <button class="btn-small flat" pRipple pRippleColor="#ffffff26">
              Get Started
            </button>
          </li>
          <li>
            <button class="btn-small bg-secondary" pRipple pRippleColor="#ffffff26" [routerLink]="['/Components']">
              Components
            </button>
          </li>
        </ul>
      </ng-container>
    </app-navbar>
  </div>
  <div class="content-contain">
    <router-outlet></router-outlet>
    <footer style="background-color: var(--primary); height: 250px; width: 100%;">
      sadasdasdasd
    </footer>
  </div>
</div>