<div class="content-wrapper">
  <div class="elevation-p4" style="z-index: 998;">
    <app-navbar backgroundColor="bg-primary" [elevated]="false">
      <ng-container navbarContent>
        <button class="btn flat" pRipple pRippleColor="#ffffff26" [routerLink]="['/']">
          Angular Productive
        </button>
        <button class="btn small flat display-on-medium-and-above" pRipple pRippleColor="#ffffff26">
          Get Started
        </button>
        <button class="btn small flat display-on-medium-and-above" pRipple pRippleColor="#ffffff26">
          Features
        </button>
        <button class="btn small flat display-on-medium-and-above" pRipple pRippleColor="#ffffff26"
          [routerLink]="['/Components']">
          Components
        </button>
        <div class="spacer"></div>
        <button class="btn flat" pRipple pRippleColor="#ffffff26" pTooltip="Angular Productive Version">v1.0</button>
        <button class="btn fab flat" pRipple [pRippleCentered]="true" pRippleColor="#ffffff26"
          (click)="toggleDarkMode()" pTooltip="Toggle application theme">
          <p-icon>{{darkActive === 'true' ? 'light_mode' : 'dark_mode'}}</p-icon>
        </button>
        <a class="btn flat fab" pRipple pRippleColor="#ffffff26" [pRippleCentered]="true"
          href="https://github.com/Productive-Team/angular-productive" target="_blank" pTooltip="Source Code">
          <img src="../../../../../assets/img/github-white-transparent.svg"
            style="position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); pointer-events: none;">
        </a>
      </ng-container>
    </app-navbar>
    <app-navbar size="small" [elevated]="false" backgroundColor="bg-primary" class="display-on-small-only">
      <ng-container navbarContent>
        <button class="btn small flat" pRipple pRippleColor="#ffffff26" style="width: 100%;">
          Get Started
        </button>
        <button class="btn small flat" pRipple pRippleColor="#ffffff26" [routerLink]="['/Components']"
          style="width: 100%;">
          Features
        </button>
        <button class="btn small flat" pRipple pRippleColor="#ffffff26" [routerLink]="['/Components']"
          style="width: 100%;">
          Components
        </button>
      </ng-container>
    </app-navbar>
  </div>
  <p-container>
    <router-outlet></router-outlet>
    <footer class="bg-primary text-white">
      <div class="text-center">
        <h5>
          Angular Productive
        </h5>
        <span style="opacity: 0.75;">Version 1.0</span>
      </div>
      <br>
      <br>
      <div class="dFlex">
        <a class="btn flat" pRipple>Github</a>
        <a class="btn flat" pRipple>Discord</a>
        <div class="spacer"></div>
        <a class="btn flat" href="https://material.io/" target="_blank" pRipple>Material Design</a>
      </div>
    </footer>
  </p-container>
</div>