<h4>Dropdown Menu</h4>
<hr>
<br>
<h5>A dropdown menu is a hidden menu that contains actions triggers, and is separated from the normal page flow.</h5>
<br>
<h5>The menu component will automatically be placed outisde of any container, since it needs to be outside of any parent
  elements with the property position relative.</h5>
<br>
<p-section>
  <ng-container section-content>
    <button class="btn flat" pRipple pDropdownTrigger pDropdownTriggerId="drop-1">Menu</button>
    <p-dropdown pDropdownId="drop-1">
      <li>
        <button pRipple>Option 1</button>
      </li>
      <li>
        <button pRipple>Option 2</button>
      </li>
      <li>
        <button pRipple>Option 3</button>
      </li>
    </p-dropdown>
  </ng-container>
</p-section>
<h5>Menu buttons can also have icons, to better illustrate the action it will perform.</h5>
<br>
<h5>Additionally, the menu's width will adjust automatically depending of the content's size.</h5>
<br>
<p-section>
  <ng-container section-content>
    <button class="btn flat fab" style="vertical-align: middle;" pRipple pRippleCentered="true" pDropdownTrigger
      pDropdownTriggerId="drop-2">
      <i class="material-icons">more_vert</i>
    </button>
    <p-dropdown pDropdownId="drop-2">
      <li>
        <button pRipple>
          <i class="material-icons left">done</i>
          Option 1
        </button>
      </li>
      <li>
        <button pRipple>
          <i class="material-icons left">info</i>
          Option 2
        </button>
      </li>
      <li>
        <button pRipple>
          <i class="material-icons left">watch_later</i>
          Option 3
        </button>
      </li>
    </p-dropdown>
  </ng-container>
</p-section>
<br>
<h5>Menus automatically adjust their positioning, however you can set a fixed position for the menu to trigger.</h5>
<br>
<p-section>
  <ng-container section-content>
    <button class="flat btn" pRipple pDropdownTrigger pDropdownTriggerId="topleft" pDropdownYPosition="top"
      pDropdownXPosition="left">Top Left</button>
    <p-dropdown pDropdownId="topleft">
      <li>
        <button pRipple>Top Left</button>
      </li>
    </p-dropdown>
    <button class="flat btn" pRipple pDropdownTrigger pDropdownTriggerId="topright" pDropdownYPosition="top"
      pDropdownXPosition="right">Top Right</button>
    <p-dropdown pDropdownId="topright">
      <li>
        <button pRipple>Top Right</button>
      </li>
    </p-dropdown>
    <button class="flat btn" pRipple pDropdownTrigger pDropdownTriggerId="bottomleft" pDropdownYPosition="bottom"
      pDropdownXPosition="left">Bottom Left</button>
    <p-dropdown pDropdownId="bottomleft">
      <li>
        <button pRipple>Bottom Left</button>
      </li>
    </p-dropdown>
    <button class="flat btn" pRipple pDropdownTrigger pDropdownTriggerId="bottomright" pDropdownYPosition="bottom"
      pDropdownXPosition="right">Bottom Right</button>
    <p-dropdown pDropdownId="bottomright">
      <li>
        <button pRipple>Bottom Right</button>
      </li>
    </p-dropdown>
  </ng-container>
</p-section>
<br>
<h5>There's also an option to those that do not want the menu to close when a button inside it is clicked, and also an
  option to open the menu by just hovering over the trigger element.</h5>
<br>
<p-section>
  <ng-container section-content>
    <button class="btn flat" pRipple pDropdownTrigger pDropdownTriggerId="noCloseClick"
      [pDropdownCloseOnClick]="false">No Close On Click</button>
    <p-dropdown pDropdownId="noCloseClick">
      <li>
        <button pRipple>Option 1</button>
      </li>
      <li>
        <button pRipple>Option 2</button>
      </li>
      <li>
        <button pRipple>Option 3</button>
      </li>
    </p-dropdown>
    <button class="btn flat" pRipple pDropdownTrigger pDropdownTriggerId="openHover"
      [pDropdownOpenHover]="true">Hover</button>
    <p-dropdown pDropdownId="openHover">
      <li>
        <button pRipple>Option 1</button>
      </li>
      <li>
        <button pRipple>Option 2</button>
      </li>
      <li>
        <button pRipple>Option 3</button>
      </li>
    </p-dropdown>
  </ng-container>
</p-section>