<h2>Dropdown Menu</h2>
<hr>
<br>
<h4>The dropdown component</h4>
<br>
<p-section>
  <ng-container section-content>
    <button class="btn flat" pRipple pDropdownTrigger pDropdownTriggerId="drop-1">Menu</button>
    <br>
    <button class="btn flat fab " pRipple pRippleCentered="true" pDropdownTrigger pDropdownTriggerId="drop-2">
      <i class="material-icons">more_vert</i>
    </button>
  </ng-container>
</p-section>
<p-dropdown pDropdownId="drop-1">
  <li>
    <button pRipple>Option 1</button>
  </li>
  <li>
    <button pRipple>Option 2</button>
  </li>
  <li>
    <button pRipple>Option 3</button>
  </li>
</p-dropdown>
<p-dropdown pDropdownId="drop-2">
  <li>
    <button pRipple>
      <i class="material-icons left">done</i>
      Option 1
    </button>
  </li>
  <li>
    <button pRipple>
      <i class="material-icons left">info</i>
      Option 2
    </button>
  </li>
  <li>
    <button pRipple>
      <i class="material-icons left">watch_later</i>
      Option 3
    </button>
  </li>
</p-dropdown>