<div class="container">
  <h1 class="text-center">Angular Productive</h1>
  <hr>
  <!-- <div class="text-center">
    <button class="btn-small">Small Button!</button>
    <button class="btn">Regular Button!</button>
    <button class="btn-large">Large Button!</button>
  </div>
  <br>
  <div class="text-center">
    <button class="btn-small">
      <i class="material-icons left">home</i>
      Small Button with Icon!
    </button>
    <button class="btn">
      <i class="material-icons left">home</i>
      Regular Button with Icon!
    </button>
    <button class="btn-large">
      <i class="material-icons left">home</i>
      Large Button with Icon!
    </button>
  </div>
  <br>
  <div class="text-center">
    <button class="btn-small">
      <i class="material-icons right">home</i>
      Small Button with Icon!
    </button>
    <button class="btn">
      <i class="material-icons right">home</i>
      Regular Button with Icon!
    </button>
    <button class="btn-large">
      <i class="material-icons right">home</i>
      Large Button with Icon!
    </button>
  </div>
  <br> -->
  <div class="text-center">
    <!-- <button class="btn-small flat" appRipple>
      Small Flat Button!
    </button> -->
    <button class="btn flat" appRipple rippleUnbounded="true">
      <i class="material-icons left">home</i>
      Regular Flat Button with Icon!
    </button>
    <!-- <button class="btn-large flat" appRipple>
      <i class="material-icons right">home</i>
      Large Flat Button with Icon!
    </button> -->
  </div>
</div>