<div class="p-spinner" *ngIf="pProgressType === 'spinner'">
  <svg viewBox="0 0 36 36">
    <path d="M18 2.0845
        a 15.9155 15.9155 0 0 1 0 31.831
        a 15.9155 15.9155 0 0 1 0 -31.831" fill="none" stroke-width="3"
      [style]="'stroke:' + pProgressColor +'; stroke-dasharray:' + pProgressSize + ', 100;' " class="p-spinner-path" />
  </svg>
</div>
<div class="p-progress-bar" *ngIf="pProgressType === 'bar'">
  <div class="actual-progress"></div>
  <div class="background-progress"></div>
</div>