svg .p-spinner-path {
  transition: .25s ease-in-out;
}

svg .p-spinner-path.animated {
  animation: indetSpinner 4s infinite linear;
}

.p-spinner.rotate {
  animation: rotationParent 1s infinite linear;
}

@keyframes indetSpinner {
  0% {
    stroke-dasharray: 80px 100px;
  }
  50% {
    stroke-dasharray: 10px 100px;
  }
  100% {
    stroke-dasharray: 80px 100px;
  }
}

@keyframes rotationParent {
  100% {
    transform: rotate(360deg);
  }
}