:root {
  --primary: #3f51b5;
  --secondary: #673ab7;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

html,
body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto";
  font-size: 16px;
  color: #262626;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
label {
  margin: 0;
}
br {
  user-select: none;
}
i {
  pointer-events: none;
}
/* #region GridStyles */
.container {
  padding: 15px 5px;
  margin: 0 5%;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 10px 2.5px;
    margin: 0 2%;
  }
}

.row {
  margin: 0 auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row .col {
  box-sizing: border-box;
  float: left;
  padding: 0 5px;
}

.row .col.s1 {
  width: 8.33%;
}
.row .col.s2 {
  width: 16.33%;
}
.row .col.s3 {
  width: 25%;
}
.row .col.s4 {
  width: 33.33%;
}
.row .col.s5 {
  width: 41.66%;
}
.row .col.s6 {
  width: 50%;
}
.row .col.s7 {
  width: 58.33%;
}
.row .col.s8 {
  width: 66.66%;
}
.row .col.s9 {
  width: 75%;
}
.row .col.s10 {
  width: 83.33%;
}
.row .col.s11 {
  width: 91.66%;
}
.row .col.s12 {
  width: 100%;
}
@media screen and (min-width: 601px) {
  .row .col.m1 {
    width: 8.33%;
  }
  .row .col.m2 {
    width: 16.33%;
  }
  .row .col.m3 {
    width: 25%;
  }
  .row .col.m4 {
    width: 33.33%;
  }
  .row .col.m5 {
    width: 41.66%;
  }
  .row .col.m6 {
    width: 50%;
  }
  .row .col.m7 {
    width: 58.33%;
  }
  .row .col.m8 {
    width: 66.66%;
  }
  .row .col.m9 {
    width: 75%;
  }
  .row .col.m10 {
    width: 83.33%;
  }
  .row .col.m11 {
    width: 91.66%;
  }
  .row .col.m12 {
    width: 100%;
  }
}
@media screen and (min-width: 999px) {
  .row .col.l1 {
    width: 8.33%;
  }
  .row .col.l2 {
    width: 16.33%;
  }
  .row .col.l3 {
    width: 25%;
  }
  .row .col.l4 {
    width: 33.33%;
  }
  .row .col.l5 {
    width: 41.66%;
  }
  .row .col.l6 {
    width: 50%;
  }
  .row .col.l7 {
    width: 58.33%;
  }
  .row .col.l8 {
    width: 66.66%;
  }
  .row .col.l9 {
    width: 75%;
  }
  .row .col.l10 {
    width: 83.33%;
  }
  .row .col.l11 {
    width: 91.66%;
  }
  .row .col.l12 {
    width: 100%;
  }
}
/* #endregion GridStyles */

/* #region AlignHelpers */
.text-center {
  text-align: center;
}

.content-center {
  display: block;
  margin: 0 auto;
}
/* #endregion AlignHelpers */

/*#region Buttons */
.btn-small {
  padding: 0 6px;
  height: 36px;
  line-height: 36px;
  font-size: 14px !important;
}
.btn {
  padding: 0 12px;
  height: 46px;
  line-height: 46px;
}
.btn-large {
  padding: 0 24px;
  height: 56px;
  line-height: 56px;
}
.btn-small i {
  line-height: 36px;
}
.btn i {
  line-height: 46px;
}
.btn-large i {
  line-height: 56px;
}
.btn,
.btn-small,
.btn-large {
  display: inline-block;
  position: relative;
  margin: 0 5px;
  background-color: #e4e4e4;
  color: #2e2e2e;
  border: 0;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
  user-select: none;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
}
.btn:active,
.btn-small:active,
.btn-large:active {
  filter: brightness(110%);
}
.btn:disabled,
.btn-small:disabled,
.btn-large:disabled {
  pointer-events: none;
  box-shadow: none;
  opacity: 0.5;
}
.btn.elevation,
.btn-small.elevation,
.btn-large.elevation {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.btn.elevation:hover,
.btn-small.elevation:hover,
.btn-large.elevation:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
.btn.elevation:active,
.btn-small.elevation:active,
.btn-large.elevation:active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.btn i.left,
.btn-small i.left,
.btn-large i.left {
  float: left;
  margin-right: 15px;
}
.btn i.right,
.btn-small i.right,
.btn-large i.right {
  float: right;
  margin-left: 15px;
}
.btn-small.floating {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 50%;
}
.btn.floating {
  width: 46px;
  height: 46px;
  padding: 0;
  border-radius: 50%;
}
.btn-large.floating {
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
}
.btn.flat,
.btn-small.flat,
.btn-large.flat {
  background-color: transparent;
  box-shadow: none;
}
.flat:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: none;
}
/*#endregion Buttons */

/*#region RippleEffect*/
.ripple-container {
  position: relative;
  overflow: hidden;
}
.ripple {
  --scale: 0;
  --opacity: 0;
  --ripple-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}
.ripple::after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: var(--ripple-color);
  transform: scale(var(--scale));
  opacity: var(--opacity);
  transition: transform 1.3s ease-out, opacity 0.35s linear;
}
.ripple:not(:empty) {
  transform: translateZ(0);
}
/*#endregion RippleEffect*/

/*#region BackColors*/
.bg-primary {
  background-color: var(--primary) !important;
  color: white !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
  color: white !important;
}
/*#endregion BackColors*/

/* #region TextColors */
.primary {
  color: var(--primary) !important;
}
.secondary {
  color: var(--secondary) !important;
}
/* #endregion TextColors */

/* #region NavbarStyles */
.navbar ul.left {
  float: left;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul.right {
  float: right;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline;
}
.navbar.medium .btn.floating,
.navbar.medium .btn-small.floating {
  top: 5px;
}
.navbar.small .btn.floating,
.navbar.small .btn-small.floating,
.navbar.small .btn-large.floating {
  top: 0px;
}
.navbar.large .btn.floating,
.navbar.large .btn-small.floating,
.navbar.large .btn-large.floating {
  top: 5px;
}
@media screen and (max-width: 800px) {
  .navbar .right,
  .navbar .left {
    display: none;
  }
  .navbar .center {
    width: 100%;
  }
}
/* #endregion NavbarStyles */
