:root {
  --primary: #3f51b5;
  --secondary: #e91e63;
  --primaryLowOpacity: #3f51b51e;
  --secondaryLowOpacity: #e91e631e;
  --appBackgroundColor: white;
  --menuPanelColor: rgb(250, 250, 250);
  --textColor: #262626;
  --contrastTextColor: #fdfdfd;
  --rippleDefaultColor: rgba(0,0,0,0.13);
  --fieldsetColor: hsla(0,0%,94%,1);
  --fieldsetUnderlineColor: rgb(179, 179, 179);
  --snackbarDefaultColor: rgb(24, 24, 24)
  --snackbarTextColor: white;
}

* {
  font-family: "Roboto", Arial, sans-serif;
}

html,
body {
  margin: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: var(--textColor);
  background-color: var(--appBackgroundColor);
}

body.vh-height {
  height: 100vh !important;
}

.p-components-container {
  display: contents !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
label,
pre,
button {
  margin: 0;
  color: inherit;
}

br {
  user-select: none;
}
i {
  pointer-events: none;
}

hr {
  height: 1px;
  border: 0;
  background-color: #a3a3a3;
  color: #a3a3a3;
  margin: 5px 0;
}

code {
  font-family: monospace;
}

/* #region Typography */
h1 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -1px;
}
h2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.5px;
}
h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
h4 {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.25px;
}
h5 {
  font-size: 1.4rem;
  font-weight: 400;
}
h6 {
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

span,
p {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.15px;
}

p {
  line-height: 28px;
}

label {
  font-size: 14px !important;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.t-100 {
  font-weight: 100;
}
.t-200 {
  font-weight: 200;
}
.t-300 {
  font-weight: 300;
}
.t-400 {
  font-weight: 400;
}
.t-500 {
  font-weight: 500;
}
.t-600 {
  font-weight: 600 !important;
}
.t-700 {
  font-weight: 700;
}
.t-800 {
  font-weight: 800;
}
.t-900 {
  font-weight: 900;
}
/* #endregion Typography */

/* #region GridStyles */
.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100%;
}
.p-container {
  position: relative;
  display: block;
  overflow: auto;
  box-sizing: border-box;
}
.content-contain {
  display: block;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}
.container {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 30px;
}
@media screen and (max-width: 1000px) {
  .sidenav-container .container {
    width: calc(100%);
  }
}
@media screen and (max-width: 600px) {
  .container,
  .container-sidenav {
    padding: 10px 15px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  margin: 0 auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row .col {
  box-sizing: border-box;
  float: left;
  padding: 0 5px;
}

.row .col.s1 {
  width: 8.33%;
}
.row .col.s2 {
  width: 16.33%;
}
.row .col.s3 {
  width: 25%;
}
.row .col.s4 {
  width: 33.33%;
}
.row .col.s5 {
  width: 41.66%;
}
.row .col.s6 {
  width: 50%;
}
.row .col.s7 {
  width: 58.33%;
}
.row .col.s8 {
  width: 66.66%;
}
.row .col.s9 {
  width: 75%;
}
.row .col.s10 {
  width: 83.33%;
}
.row .col.s11 {
  width: 91.66%;
}
.row .col.s12 {
  width: 100%;
}
@media screen and (min-width: 601px) {
  .row .col.m1 {
    width: 8.33%;
  }
  .row .col.m2 {
    width: 16.33%;
  }
  .row .col.m3 {
    width: 25%;
  }
  .row .col.m4 {
    width: 33.33%;
  }
  .row .col.m5 {
    width: 41.66%;
  }
  .row .col.m6 {
    width: 50%;
  }
  .row .col.m7 {
    width: 58.33%;
  }
  .row .col.m8 {
    width: 66.66%;
  }
  .row .col.m9 {
    width: 75%;
  }
  .row .col.m10 {
    width: 83.33%;
  }
  .row .col.m11 {
    width: 91.66%;
  }
  .row .col.m12 {
    width: 100%;
  }
}
@media screen and (min-width: 999px) {
  .row .col.l1 {
    width: 8.33%;
  }
  .row .col.l2 {
    width: 16.33%;
  }
  .row .col.l3 {
    width: 25%;
  }
  .row .col.l4 {
    width: 33.33%;
  }
  .row .col.l5 {
    width: 41.66%;
  }
  .row .col.l6 {
    width: 50%;
  }
  .row .col.l7 {
    width: 58.33%;
  }
  .row .col.l8 {
    width: 66.66%;
  }
  .row .col.l9 {
    width: 75%;
  }
  .row .col.l10 {
    width: 83.33%;
  }
  .row .col.l11 {
    width: 91.66%;
  }
  .row .col.l12 {
    width: 100%;
  }
}
/* #endregion GridStyles */

/* #region DisplayHelpers */
.dFlex {
  display: flex;
}
.dBlock {
  display: block;
}
.dInlineB {
  display: inline-block;
}
.dInlineF {
  display: inline-flex;
}

@media only screen and (min-width: 1000px) {
  .display-on-medium-and-bellow {
    display: none !important;
  }
  .display-on-medium-only {
    display: none !important;
  }
  .display-on-small-only {
    display: none !important;
  }
  .display-on-large-only {
    display: block !important;
  }
  .display-on-medium-and-above {
    display: inline-block !important;
  }
}

@media only screen and (max-width: 1000px) {
  .display-on-medium-and-bellow {
    display: block !important;
  }
  .display-on-medium-and-above {
    display: inline-block !important;
  }
  .display-on-medium-only {
    display: block !important;
  }
  .display-on-small-only {
    display: none !important;
  }
  .display-on-large-only {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .display-on-medium-only {
    display: none !important;
  }
  .display-on-medium-and-above {
    display: none !important;
  }
  .display-on-small-only {
    display: block !important;
  }
  .display-on-large-only {
    display: none !important;
  }
}
/* #endregion DisplayHelpers */

/* #region AlignHelpers */
.justify-start {
  justify-content: start;
}
.justify-baselne {
  justify-content: baseline;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-flex-end {
  align-items: flex-end;
}
.align-items-flex-start {
  align-items: flex-start;
}

.left {
  float: left !important;
  margin-right: 15px;
}

.right {
  float: right !important;
  margin-left: 15px;
}

.v-align {
  vertical-align: middle;
}
/* #endregion AlignHelpers */

/*#region Buttons */
.btn-small {
  padding: 0 6px;
  height: 36px;
  line-height: 36px;
  font-size: 14px !important;
}
.btn {
  padding: 0 12px;
  height: 46px;
  line-height: 46px;
}
.btn-large {
  padding: 0 24px;
  height: 56px;
  line-height: 56px;
  font-size: 17px !important;
}
.btn-small i {
  line-height: 36px;
}
.btn i {
  line-height: 46px;
}
.btn-large i {
  line-height: 56px;
}
.btn,
.btn-small,
.btn-large {
  font-weight: 500;
  display: inline-block;
  position: relative;
  background-color: var(--menuPanelColor);
  border: 0;
  outline: none;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}
.btn:disabled,
.btn-small:disabled,
.btn-large:disabled {
  pointer-events: none;
  box-shadow: none !important;
  opacity: 0.5;
}
a.disabled,
a.disabled,
a.disabled {
  pointer-events: none;
  box-shadow: none;
  opacity: 0.5;
}
.btn.elevation,
.btn-small.elevation,
.btn-large.elevation {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}
.btn.elevation:active,
.btn-small.elevation:active,
.btn-large.elevation:active {
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
}

.btn.fab.elevation,
.btn-small.fab.elevation,
.btn-large.fab.elevation {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
}

.btn.fab.elevation:active,
.btn-small.fab.elevation:active,
.btn-large.fab.elevation:active {
  box-shadow: 0 7px 8px -4px rgb(0 0 0 / 20%), 0 12px 17px 2px rgb(0 0 0 / 14%),
    0 5px 22px 4px rgb(0 0 0 / 12%);
}

.btn-small.fab {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
}
.btn.fab {
  width: 46px;
  height: 46px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
}
.btn-large.fab {
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
}
.btn.flat,
.btn-small.flat,
.btn-large.flat {
  background-color: transparent;
  box-shadow: none;
}
.flat:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: none;
}
.btn.fab.flat:hover,
.btn-small.fab.flat:hover,
.btn-large.fab.flat:hover {
  background-color: transparent !important;
}
a.btn,
a.btn-small,
a.btn-large {
  vertical-align: top;
  text-decoration: none;
  -webkit-user-drag: none;
}
.btn.flat.primary,
.btn-small.flat.primary,
.btn-large.flat.primary {
  color: var(--primary);
}
.btn.flat.secondary,
.btn-small.flat.secondary,
.btn-large.flat.secondary {
  color: var(--secondary);
}
.btn.flat.primary:hover,
.btn-small.flat.primary:hover,
.btn-large.flat.primary:hover {
  background-color: var(--primaryLowOpacity);
}
.btn.flat.secondary:hover,
.btn-small.flat.secondary:hover,
.btn-large.flat.secondary:hover {
  background-color: var(--secondaryLowOpacity);
}
/*#endregion Buttons */

/*#region RippleEffect*/
.p-ripple-container {
  position: relative;
  overflow: hidden;
}
.p-ripple-container.p-ripple-unbounded {
  overflow: visible;
}
.p-ripple {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: transform cubic-bezier(0, 0, 0.2, 1),
    opacity cubic-bezier(0, 0, 0.2, 1);
  transform: scale(0);
  background-color: var(--rippleDefaultColor);
  will-change: transform;
}
.p-ripple-container:not(:empty),
.p-ripple:not(:empty) {
  transform: translateZ(0);
}
/*#endregion RippleEffect*/

/*#region BackColors*/
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}
/*#endregion BackColors*/

/* #region TextColors&Helpers */
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-white {
  color: white;
}
.text-black {
  color: #000;
}

.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.text-lighter {
  font-weight: lighter;
}
.text-bold {
  font-weight: bold;
}
.text-bolder {
  font-weight: bolder;
}
/* #endregion TextColors&Helpers */

/* #region FlexSpacer */
.spacer {
  flex-grow: 1;
}
/* #endregion FlexSpacer */

/* #region SidebarStyles */
.sidenav-container {
  position: relative;
  overflow: auto;
  box-sizing: border-box;
  display: contents;
}

.sidenav {
  background-color: var(--appBackgroundColor);
  position: sticky;
  height: 100vh;
  width: 250px;
  top: 0;
  border-right: 2px solid rgba(141, 141, 141, 0.3);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.25rem 0.5rem;
}

.floating .sidenav {
  position: fixed;
  top: 0;
  z-index: 999;
}

.p-sidenav-full-wrap {
  display: flex;
}

.sidenav-container-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  transition: 400ms cubic-bezier(0.01, 0.47, 0.4, 0.99);
}

.sidenav .side-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.closed .sidenav {
  width: 0;
  transform: translateX(-250px);
}

.closed.floating .sidenav {
  width: 250px;
  transform: translateX(-250px);
}

.sidenav a,
.sidenav button {
  display: inline-block;
  padding: 0 5px;
  height: 46px;
  line-height: 46px;
  color: var(--textColor);
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  text-decoration: none;
  border: 0;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.1s ease-in;
  user-select: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  box-sizing: border-box;
}
.sidenav a i,
.sidenav button i {
  line-height: 46px;
}
.sidenav a:hover,
.sidenav button:hover {
  background-color: #00000013;
}
/* #endregion SidebarStyles */

/* #region BackdropStyle */
.backdrop,
.backdrop-modal {
  position: fixed;
  z-index: 995;
  background-color: #000;
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0,.04,.42,1);
  -webkit-tap-highlight-color: transparent;
}
/* #endregion BackdropStyle*/

/* #region InputStyles */
.fieldset {
  position: relative;
  margin-bottom: 20px;
}

.input-error .input-wrapper .label-wrap .label-text {
  color: rgb(255, 51, 0) !important;
}
.input-error .input-wrapper ~ .p-input-bar,
.input-error .input-wrapper.outlined,
.input-error .input-wrapper {
  border-color: rgb(255, 51, 0);
}

.input-error .input-wrapper input,
.input-error .input-wrapper textarea {
  caret-color: rgb(255, 51, 0);
}

.input-wrapper.focused .label-wrap {
  color: var(--primary);
}

.input-wrapper {
  display: inline-flex;
  align-items: baseline;
  width: 100%;
  padding: 0.75em 0.75em 0 0.75em;
  background-color: var(--fieldsetColor);
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--fieldsetUnderlineColor);
  transition: box-shadow 100ms ease-in;
}

.disabled .input-wrapper {
  background-color: #e0e0e0;
  opacity: 0.8;
  border: none;
  pointer-events: none;
}

.disabled .input-wrapper.classic {
  border-bottom: 1px dotted var(--fieldsetUnderlineColor);
  pointer-events: none;
}

.disabled .input-wrapper.outlined {
  opacity: 0.5;
  pointer-events: none;
}

.readonly .input-wrapper {
  border: none;
}
.readonly .input-wrapper.classic {
  border-bottom: 1px dotted var(--fieldsetUnderlineColor);
}
.readonly .input-wrapper .form-field {
  pointer-events: none;
}

.input-wrapper.classic {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.input-wrapper.outlined {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--fieldsetUnderlineColor);
  padding: 0.75em 0.75em 5px 0.75em;
  border: none;
  border-radius: 5px;
}

.input-wrapper:hover.outlined {
  box-shadow: inset 0 0 0 2px var(--fieldsetUnderlineColor);
}

.input-wrapper.focused ~ .p-input-bar,
.input-wrapper.classic.focused ~ .p-input-bar {
  opacity: 1;
  transition: width 0.2s ease-out;
  width: 100%;
}

.input-wrapper.outlined.focused {
  box-shadow: inset 0 0 0 2px var(--primary);
}
.input-wrapper.outlined ~ .p-input-bar {
  display: none;
}

.input-wrapper .input-content {
  display: flex;
  flex-direction: row;
}

.label-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 25px 0 0 0;
  box-sizing: content-box;
  color: var(--textColor);
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  user-select: none;
}

.label-text {
  position: absolute;
  left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: 400ms cubic-bezier(.31,1.13,.34,.99);
  transform-origin: left top;
}
.label-text.active,
.has-value .label-text {
  transform: translateY(-20px) scale(0.8);
}

.input-wrapper .form-field {
  display: block;
  position: relative;
  flex: auto;
  width: 100%;
  padding: 0.25rem 0 0.75rem 0;
  border-top: 0.8rem solid transparent;
}

.input-wrapper.classic .form-field {
  padding: 0.25rem 0 0.25rem 0;
}

.input-wrapper .suffix,
.input-wrapper .prefix {
  white-space: nowrap;
  flex: none;
  position: relative;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: content-box;
  resize: vertical;
  color: var(--textColor);
  padding: 0;
  caret-color: var(--primary);
}

.p-input-bar {
  position: absolute;
  border-bottom: 2px solid var(--primary);
  width: 40%;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  opacity: 0;
}

.helper-text {
  position: absolute;
  font-size: 13px;
  transform: translateY(-10%);
  font-weight: 600;
  line-height: 22px;
  color: #0000009c;
  animation: helperTextAnim 0.5s;
  user-select: none;
}
.helper-text i {
  font-size: 20px;
  user-select: none;
}
.helper-text.error {
  color: rgb(255, 51, 0);
}
.helper-text.warn {
  color: #f26d00ad;
}
.helper-text.success {
  color: #24bd269c;
}
@keyframes helperTextAnim {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(-10%);
  }
}
/* #endregion InputStyles */

/* #region Elevation */
.elevation-p1 {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}
.elevation-p2 {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}
.elevation-p3 {
  box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%),
    0 1px 8px 0 rgb(0 0 0 / 12%);
}
.elevation-p4 {
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
}
.elevation-p5 {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%),
    0 1px 14px 0 rgb(0 0 0 / 12%);
}
.elevation-p6 {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
}
.elevation-p7 {
  box-shadow: 0 4px 5px -2px rgb(0 0 0 / 20%), 0 7px 10px 1px rgb(0 0 0 / 14%),
    0 2px 16px 1px rgb(0 0 0 / 12%);
}
.elevation-p8 {
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
}
.elevation-p9 {
  box-shadow: 0 5px 6px -3px rgb(0 0 0 / 20%), 0 9px 12px 1px rgb(0 0 0 / 14%),
    0 3px 16px 2px rgb(0 0 0 / 12%);
}
.elevation-p10 {
  box-shadow: 0 6px 6px -3px rgb(0 0 0 / 20%), 0 10px 14px 1px rgb(0 0 0 / 14%),
    0 4px 18px 3px rgb(0 0 0 / 12%);
}
.elevation-p11 {
  box-shadow: 0 6px 7px -4px rgb(0 0 0 / 20%), 0 11px 15px 1px rgb(0 0 0 / 14%),
    0 4px 20px 3px rgb(0 0 0 / 12%);
}
.elevation-p12 {
  box-shadow: 0 7px 8px -4px rgb(0 0 0 / 20%), 0 12px 17px 2px rgb(0 0 0 / 14%),
    0 5px 22px 4px rgb(0 0 0 / 12%);
}
.elevation-p13 {
  box-shadow: 0 7px 8px -4px rgb(0 0 0 / 20%), 0 13px 19px 2px rgb(0 0 0 / 14%),
    0 5px 24px 4px rgb(0 0 0 / 12%);
}
.elevation-p14 {
  box-shadow: 0 7px 9px -4px rgb(0 0 0 / 20%), 0 14px 21px 2px rgb(0 0 0 / 14%),
    0 5px 26px 4px rgb(0 0 0 / 12%);
}
.elevation-p15 {
  box-shadow: 0 8px 9px -5px rgb(0 0 0 / 20%), 0 15px 22px 2px rgb(0 0 0 / 14%),
    0 6px 28px 5px rgb(0 0 0 / 12%);
}
.elevation-p16 {
  box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%),
    0 6px 30px 5px rgb(0 0 0 / 12%);
}
.elevation-p17 {
  box-shadow: 0 8px 11px -5px rgb(0 0 0 / 20%), 0 17px 26px 2px rgb(0 0 0 / 14%),
    0 6px 32px 5px rgb(0 0 0 / 12%);
}
.elevation-p19 {
  box-shadow: 0 9px 12px -6px rgb(0 0 0 / 20%), 0 19px 29px 2px rgb(0 0 0 / 14%),
    0 7px 36px 6px rgb(0 0 0 / 12%);
}
.elevation-p20 {
  box-shadow: 0 10px 13px -6px rgb(0 0 0 / 20%),
    0 20px 31px 3px rgb(0 0 0 / 14%), 0 8px 38px 7px rgb(0 0 0 / 12%);
}
.elevation-p21 {
  box-shadow: 0 10px 13px -6px rgb(0 0 0 / 20%),
    0 21px 33px 3px rgb(0 0 0 / 14%), 0 8px 40px 7px rgb(0 0 0 / 12%);
}
.elevation-p22 {
  box-shadow: 0 10px 14px -6px rgb(0 0 0 / 20%),
    0 22px 35px 3px rgb(0 0 0 / 14%), 0 8px 42px 7px rgb(0 0 0 / 12%);
}
.elevation-p23 {
  box-shadow: 0 11px 14px -7px rgb(0 0 0 / 20%),
    0 23px 36px 3px rgb(0 0 0 / 14%), 0 9px 44px 8px rgb(0 0 0 / 12%);
}
.elevation-p24 {
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),
    0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
}
/* #endregion Elevation */

/* #region Snackbars */
.snackbar {
  position: fixed;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  min-height: 20px;
  width: 344px;
  color: var(--snackbarTextColor);
  background-color: var(--snackbarDefaultColor);
  z-index: 1004;
  line-height: 20px;
  max-height: 250px;
  display: none;
  overflow: hidden;
  transition: opacity 0.1s linear;
}
.snackbar.top {
  top: 15px;
}
.snackbar.bottom {
  bottom: 15px;
}
.snackbar.left {
  animation: fadeInSnackbar 0.15s;
  left: 15px;
}
.snackbar.right {
  animation: fadeInSnackbar 0.15s;
  right: 15px;
}
.snackbar.center {
  animation: fadeInCenterSnackbar 0.15s;
  left: 50%;
  transform: translateX(-50%);
}
.snackbar button {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
  max-width: 56.17px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.snackbar span {
  word-break: break-all;
}
@media only screen and (max-width: 500px) {
  .snackbar {
    margin: 0;
    width: 100%;
    height: 50px;
    border-radius: 0;
    box-sizing: border-box;
  }
  .snackbar.left {
    left: 0;
  }
  .snackbar.right {
    right: 0;
  }
  .snackbar.center {
    left: 0;
    transform: translateX(0);
  }
  .snackbar.top {
    animation: mobileTopSnackbar 0.25s;
    top: 0px;
  }
  .snackbar.bottom {
    animation: mobileBottomSnackbar 0.25s;
    bottom: 0px;
  }
}
.snackbar-button {
  bottom: 8px;
}
@keyframes fadeInSnackbar {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInCenterSnackbar {
  from {
    opacity: 0;
    transform: translateX(-50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}
@keyframes mobileBottomSnackbar {
  from {
    bottom: -150px;
  }
  to {
    bottom: 0;
  }
}
@keyframes mobileTopSnackbar {
  from {
    top: -150px;
  }
  to {
    top: 0;
  }
}
/* #endregion Snackbars */

/* #region Divider */
.p-divider {
  display: block;
  margin: 0;
  border-top: 1px solid rgba(141, 141, 141, 0.25);
}
/* #endregion Divider */

/* #region DropdownMenus */
.menu-wrapper {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
  max-height: 100%;
}

.menu-wrapper .menu-panel-wrapper {
  position: static;
}

.menu-wrapper .menu-panel-wrapper .menu-panel {
  min-width: 120px;
  max-width: 350px;
  max-height: calc(100vh - 48px);
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--menuPanelColor);
  min-height: 64px;
}

.menu-wrapper .menu-panel-wrapper .menu-panel .menu-content:not(:empty) {
  padding: 10px 0;
}

.menu-panel-wrapper .menu-panel .menu-content button,
.menu-panel-wrapper .menu-panel .menu-content a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: start;
  padding: 0 15px;
  height: 46px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  line-height: 46px;
  color: var(--textColor);
  text-decoration: none;
}

.menu-panel-wrapper .menu-panel .menu-content button:disabled,
.menu-panel-wrapper .menu-panel .menu-content a:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.menu-panel-wrapper .menu-panel .menu-content button.divider,
.menu-panel-wrapper .menu-panel .menu-content a.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-panel-wrapper .menu-panel .menu-content button i,
.menu-panel-wrapper .menu-panel .menu-content a i {
  line-height: 46px;
}

.menu-panel-wrapper .menu-panel .menu-content button:hover,
.menu-panel-wrapper .menu-panel .menu-content a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
/* #endregion DropdownMenus */

/* #region Badges */
.pBadgeContainer {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}
.pBadge {
  display: inline-block;
  padding: 0 5px;
  background-color: #e4e4e4;
  color: var(--textColor);
  border-radius: 5px;
  height: 25px;
  max-width: 100px;
  align-items: center;
  line-height: 25px;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  z-index: 900;
}
.pBadge.top {
  top: -10px;
}
.pBadge.right {
  right: -10px;
}
.pBadge.left {
  left: -10px;
}
.pBadge.bottom {
  bottom: -10px;
}
.pBadge.circle {
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 30px;
  line-height: 30px;
}
/* #endregion Badges */

/* #region Tooltip */
.tooltip-container {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1000;
}
.pTooltip {
  background-color: rgb(97, 97, 97);
  color: white;
  user-select: none;
  border-radius: 5px;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.5rem;
  font-size: 12px;
  text-align: center;
  backface-visibility: hidden;
  animation: tooltipAnim 200ms cubic-bezier(0.33, 0.68, 0.82, 0.99);
}
@keyframes tooltipAnim {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*#endregion Tooltip */

/* #region Card */
.card {
  background-color: var(--menuPanelColor);
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 10px 0;
}

.card .content {
  padding: 15px;
}

.card .header {
  padding: 15px;
}

.card .footer {
  padding: 5px 10px;
}
/* #endregion Card */

/* #region Tabs */
.tab-group-container {
  display: flex;
  flex-direction: column;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
}
.tab-group-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(141, 141, 141, 0.25);
}
.tab-header-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
  scroll-behavior: smooth;
}
.tab-list {
  flex-grow: 1;
  position: relative;
  transition: transform 300ms ease-in-out;
}
.all-tabs {
  display: flex;
}
.tab-content {
  display: contents;
  position: relative;
  overflow: hidden;
}

.tab {
  position: relative;
  height: 46px;
  box-sizing: border-box;
  padding: 0 25px;
  line-height: 46px;
  user-select: none;
  min-width: 150px;
  max-width: 250px;
  padding: 0 25px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.tab span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  color: var(--textColor);
}
.tab i {
  color: var(--textColor);
}
.tab.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.tab.active span,
.tab.active i {
  color: var(--primary);
  opacity: 1;
}

.tab-body {
  padding: 1rem 0;
  display: none;
  box-sizing: border-box;
}
.tab-ink-bar {
  position: absolute;
  display: block;
  bottom: 0;
  height: 2.6px;
  background-color: var(--primary);
  border-radius: 5px 5px 0 0;
  transition: 400ms ease-in-out;
}
/*#endregion Tabs */

/* #region Collapsible */
.collapsible {
  position: relative;
  border-radius: 5px;
}
.collapsible .collapsible-header {
  width: 100%;
  box-sizing: border-box;
  height: 46px;
  font-size: 16px;
  padding: 0 20px;
  background-color: rgb(235, 235, 235);
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 46px;
  user-select: none;
}
.collapsible .collapsible-header i {
  line-height: 46px;
}

.collapsible .collapsible-content a {
  width: 100%;
  margin: 0;
}
.collapsible-content {
  --scrollHeight: 0px;
}

.collapsible .collapsible-content {
  display: none;
  position: relative;
  background-color: rgb(245, 245, 245);
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.collapsible .collapsible-content ul {
  list-style: none;
  padding: 10px 30px;
  box-sizing: border-box;
  margin: 0;
}
.collapsible.active .collapsible-content {
  display: block;
  max-height: var(--scrollHeight);
  transition: max-height 0.2s;
}

.collapsible.active i {
  transform: rotate(180deg);
}
/* #endregion Collapsible */

/* #region Table */
.p-table {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--appBackgroundColor);
  border-collapse: collapse;
}

.p-table thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.p-table .p-table-header th {
  user-select: none;
  position: relative;
  line-height: 56px;
  font-size: 14px;
  text-align: left;
  padding: 0 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: #363636;
}

.p-table .p-table-body tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.p-table .p-table-body td {
  line-height: 50px;
  padding: 0 1.5rem;
  font-weight: 400;
  font-size: 15px;
  white-space: nowrap;
  color: #363636;
}
.p-table .p-table-body td button,
.p-table .p-table-body td a {
  vertical-align: middle;
}

.p-table .table-expanded-content {
  --scrollHeightForTable: 0px;
  padding: 0 1.5rem;
  transition: height 0.2s cubic-bezier(0.07, 0.43, 0.38, 1.01);
  overflow: hidden;
  height: var(--scrollHeightForTable);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.p-table .table-expanded-row td {
  line-height: unset;
  padding: 0;
}
.p-table .table-expanded-row {
  border: 0;
}

.table-expanded-row-trigger {
  cursor: pointer;
}

.p-table .table-expanded-content.hidden {
  height: 0px;
}

.table-expanded .p-table tr {
  border: 0 !important;
}

.p-table .p-table-header-sort {
  cursor: pointer;
}
.p-table .p-table-header-sort i {
  opacity: 0;
  position: absolute;
  right: 5px;
  font-size: 16px;
  top: 50%;
  transition: 0.3s cubic-bezier(0, 0.48, 0.36, 1);
  transition-property: opacity, transform;
}

.p-table .p-table-header-sort:hover i {
  transform: translateY(-50%);
  opacity: 0.5;
}

.p-table .p-table-header-sort.isSorting i {
  transform: translate(-50%);
  opacity: 1;
}

.p-table .p-table-header-sort.dsc i {
  transform: translateY(-50%) rotateX(180deg);
}
.p-table .p-table-header-sort.asc i {
  transform: translateY(-50%) rotateX(0deg);
}

.p-table .p-table-footer td {
  padding: 0 1.5rem;
  line-height: 56px;
  text-align: left;
}

.p-table .p-table-header-sticky {
  background-color: var(--appBackgroundColor);
  position: sticky;
  top: 0;
}
.p-table .p-table-footer-sticky {
  background-color: var(--appBackgroundColor);
  position: sticky;
  bottom: 0;
}
/* #endregion Table */

/* #region Icon */
.p-icon {
  pointer-events: none;
  user-select: none;
}
/* #endregion Icon */

/* #region Select */
.p-select-parent-wrapper {
  display: flex;
  position: relative;
  height: 19px;
}

.p-select {
  display: inline-block;
  position: fixed;
  top: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 999;
}

.p-select button {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 0 0.75em;
  margin: 0;
  font-size: 16px;
  height: 48px;
  text-align: start;
  outline: none;
  cursor: pointer;
  transition: 250ms ease;
  user-select: none !important;
}
.p-select button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.p-select button:disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.p-select-content {
  background-color: var(--menuPanelColor);
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
  animation: enterAnim 180ms cubic-bezier(0.1, 0.5, 0.65, 0.99);
}

.p-select-search input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  caret-color: var(--primary);
  color: var(--textColor);
}

.p-select-arrow {
  font-size: 19px !important;
  pointer-events: none;
}

.focused .p-select-arrow {
  color: var(--primary);
}

@keyframes enterAnim {
  0% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}
/* #endregion Select */

/* #region Checkbox */
.checkbox-disabled {
  pointer-events: none;
  opacity: 0.5;
}
/* #endregion Checkbox */

/* #region DatePicker */
.p-datepicker {
  position: fixed;
  top: 0;
  display: block;
  z-index: 999;
}

.p-datepicker-wrapper {
  background-color: var(--menuPanelColor);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 315px;
  border-radius: 0 0 8px 8px;
  transform-origin: 0 0 0;
  box-sizing: border-box;
  animation: datepickerAnim 200ms cubic-bezier(0.3, 0.94, 0.47, 0.91);
}

.p-datepicker-wrapper.bottom {
  transform-origin: 100% 100% 0;
  border-radius: 8px 8px 0 0;
}

.p-datepicker-wrapper .p-datepicker-header {
  padding: 0.1em 0.75em;
  display: flex;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.p-datepicker-wrapper .p-datepicker-header .p-datepicker-header-content {
  display: flex;
  align-items: center;
  flex: 1;
}

.p-datepicker-content {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0.25em 0.75em;
}

.p-datepicker-content .p-datepicker-days {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-datepicker-content .p-datepicker-days .p-datepicker-days-month {
  padding: 0.5em 0;
}

.p-datepicker-content .p-datepicker-days .p-datepicker-days-week {
  display: flex;
  padding: 0.5em 0;
}

.p-datepicker-content .p-datepicker-days .p-datepicker-days-week .p-weekday {
  width: 40px;
  border: none;
  margin-right: 0.1rem;
  text-align: center;
  user-select: none;
  opacity: 0.5;
  text-transform: capitalize;
}

.p-day {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-right: 0.1rem;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}

.p-day:disabled,
.p-month:disabled,
.p-year:disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.3;
  color: var(--textColor);
}

.p-year,
.p-month {
  width: 70px;
  height: 40px;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
  margin-right: 0.1rem;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  text-transform: uppercase;
}

.p-day-spacer {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.p-day.current-date {
  box-shadow: 0 0 0 1px inset rgb(187, 187, 187);
}
.p-day.selected-date,
.p-year.selected-date,
.p-month.selected-date {
  box-shadow: 0 0 0 1px inset var(--primary);
  background-color: var(--primaryLowOpacity);
}

@keyframes datepickerAnim {
  0% {
    transform: scaleY(0.9);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
/* #endregion DatePicker */
