:root {
  /* --primary: #7629aa; */
  /* --secondary: #ff5b8f; */
  --primary: #3f51b5;
  --secondary: #e91e63;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

html,
body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto" !important;
  font-size: 16px;
  color: #262626;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
label,
pre {
  margin: 0;
  font-weight: normal;
}

pre {
  font-family: Roboto;
}

br {
  user-select: none;
}
i {
  pointer-events: none;
}

/* #region GridStyles */
.container {
  padding: 15px 5px;
  margin: 0 5%;
}
.container-sidenav {
  padding: 15px;
  margin-left: 250px;
}
@media screen and (max-width: 1000px) {
  .container-sidenav {
    padding: 15px 5px;
    margin: 0 5%;
  }
}
@media screen and (max-width: 600px) {
  .container,
  .container-sidenav {
    padding: 10px 2.5px;
    margin: 0 2%;
  }
}

.row {
  margin: 0 auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row .col {
  box-sizing: border-box;
  float: left;
  padding: 0 5px;
}

.row .col.s1 {
  width: 8.33%;
}
.row .col.s2 {
  width: 16.33%;
}
.row .col.s3 {
  width: 25%;
}
.row .col.s4 {
  width: 33.33%;
}
.row .col.s5 {
  width: 41.66%;
}
.row .col.s6 {
  width: 50%;
}
.row .col.s7 {
  width: 58.33%;
}
.row .col.s8 {
  width: 66.66%;
}
.row .col.s9 {
  width: 75%;
}
.row .col.s10 {
  width: 83.33%;
}
.row .col.s11 {
  width: 91.66%;
}
.row .col.s12 {
  width: 100%;
}
@media screen and (min-width: 601px) {
  .row .col.m1 {
    width: 8.33%;
  }
  .row .col.m2 {
    width: 16.33%;
  }
  .row .col.m3 {
    width: 25%;
  }
  .row .col.m4 {
    width: 33.33%;
  }
  .row .col.m5 {
    width: 41.66%;
  }
  .row .col.m6 {
    width: 50%;
  }
  .row .col.m7 {
    width: 58.33%;
  }
  .row .col.m8 {
    width: 66.66%;
  }
  .row .col.m9 {
    width: 75%;
  }
  .row .col.m10 {
    width: 83.33%;
  }
  .row .col.m11 {
    width: 91.66%;
  }
  .row .col.m12 {
    width: 100%;
  }
}
@media screen and (min-width: 999px) {
  .row .col.l1 {
    width: 8.33%;
  }
  .row .col.l2 {
    width: 16.33%;
  }
  .row .col.l3 {
    width: 25%;
  }
  .row .col.l4 {
    width: 33.33%;
  }
  .row .col.l5 {
    width: 41.66%;
  }
  .row .col.l6 {
    width: 50%;
  }
  .row .col.l7 {
    width: 58.33%;
  }
  .row .col.l8 {
    width: 66.66%;
  }
  .row .col.l9 {
    width: 75%;
  }
  .row .col.l10 {
    width: 83.33%;
  }
  .row .col.l11 {
    width: 91.66%;
  }
  .row .col.l12 {
    width: 100%;
  }
}
/* #endregion GridStyles */

/* #region AlignHelpers */

.content-center {
  display: block;
  margin: 0 auto;
}

.left {
  float: left !important;
  margin-right: 15px;
}

.right {
  float: right !important;
  margin-left: 15px;
}

.v-align {
  vertical-align: middle;
}
/* #endregion AlignHelpers */

/*#region Buttons */
.btn-small {
  padding: 0 6px;
  height: 36px;
  line-height: 36px;
  font-size: 14px !important;
}
.btn {
  padding: 0 12px;
  height: 46px;
  line-height: 46px;
}
.btn-large {
  padding: 0 24px;
  height: 56px;
  line-height: 56px;
}
.btn-small i {
  line-height: 36px;
}
.btn i {
  line-height: 46px;
}
.btn-large i {
  line-height: 56px;
}
.btn,
.btn-small,
.btn-large {
  font-weight: 500;
  display: inline-block;
  position: relative;
  margin: 0 5px;
  background-color: #e4e4e4;
  color: #2e2e2e;
  border: 0;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s ease-in;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.btn:active,
.btn-small:active,
.btn-large:active {
  filter: brightness(110%);
}
.btn:disabled,
.btn-small:disabled,
.btn-large:disabled {
  pointer-events: none;
  box-shadow: none;
  opacity: 0.5;
}
a.disabled,
a.disabled,
a.disabled {
  pointer-events: none;
  box-shadow: none;
  opacity: 0.5;
}
.btn.elevation,
.btn-small.elevation,
.btn-large.elevation {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.btn.elevation:hover,
.btn-small.elevation:hover,
.btn-large.elevation:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
.btn.elevation:active,
.btn-small.elevation:active,
.btn-large.elevation:active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.btn-small.floating {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 50%;
}
.btn.floating {
  width: 46px;
  height: 46px;
  padding: 0;
  border-radius: 50%;
}
.btn-large.floating {
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
}
.btn.flat,
.btn-small.flat,
.btn-large.flat {
  background-color: transparent;
  box-shadow: none;
}
.flat:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: none;
}
.btn.floating.flat:hover,
.btn-small.floating.flat:hover,
.btn-large.floating.flat:hover {
  background-color: transparent;
}
a.btn,
a.btn-small,
a.btn-large {
  vertical-align: top;
  text-decoration: none;
  -webkit-user-drag: none;
}
/*#endregion Buttons */

/*#region RippleEffect*/
.p-ripple-container {
  position: relative;
  overflow: hidden;
}
.p-ripple-container.p-ripple-unbounded {
  overflow: visible;
}
.p-ripple {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: transform cubic-bezier(0, 0, 0.2, 1),
    opacity cubic-bezier(0, 0, 0.2, 1);
  transform: scale(0);
  background-color: #00000013;
  will-change: transform;
}
.p-ripple-container:not(:empty),
.p-ripple:not(:empty) {
  transform: translateZ(0);
}
/*#endregion RippleEffect*/

/*#region BackColors*/
.bg-primary {
  background-color: var(--primary) !important;
  color: white !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
  color: white !important;
}
/*#endregion BackColors*/

/* #region TextColors&Helpers */
.primary {
  color: var(--primary) !important;
}
.secondary {
  color: var(--secondary) !important;
}
.white {
  color: white;
}
.black {
  color: #000;
}

.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.text-light {
  font-weight: lighter;
}
.text-bold {
  font-weight: bold;
}
.text-bolder {
  font-weight: bolder;
}
/* #endregion TextColors&Helpers */

/* #region NavbarStyles */
.navbar ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline;
}
.navbar.medium .btn.floating,
.navbar.medium .btn-small.floating {
  top: 5px;
}
.navbar.small .btn.floating,
.navbar.small .btn-small.floating,
.navbar.small .btn-large.floating {
  top: 0px;
}
.navbar.large .btn.floating,
.navbar.large .btn-small.floating,
.navbar.large .btn-large.floating {
  top: 5px;
}

.navbar a.btn,
.navbar a.btn-small,
.navbar a.btn-large {
  vertical-align: middle;
  text-decoration: none;
  -webkit-user-drag: none;
}
@media screen and (max-width: 800px) {
  .navbar ul.right,
  .navbar ul.left {
    display: none;
  }
  .navbar ul.sidenav-trigger-parent {
    display: block;
  }
}
/* #endregion NavbarStyles */

/* #region SidebarStyles */
.sidenav .side-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidenav a,
.sidenav button {
  display: inline-block;
  padding: 0 5px;
  height: 46px;
  line-height: 46px;
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  text-decoration: none;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: 0.1s ease-in;
  user-select: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
.sidenav a {
  width: 96%;
}
.sidenav button {
  width: 100%;
}
.sidenav a i,
.sidenav button i {
  line-height: 46px;
}
.sidenav a:hover,
.sidenav button:hover {
  background-color: #00000013;
}
.sidenav .img-container {
  position: relative;
  width: 100%;
}
.sidenav .img-container img.dim {
  filter: brightness(50%);
}
.sidenav .img-container img.light {
  filter: brightness(150%);
}
/* #endregion SidebarStyles */

/* #region BackdropStyle */
.backdrop,
.backdrop-modal {
  position: fixed;
  z-index: 998;
  background-color: #000;
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 0;
  transition: 0.15s linear;
  -webkit-tap-highlight-color: transparent;
}
/* #endregion BackdropStyle*/

/* #region InputStyles */
.fieldset {
  position: relative;
  margin: 13px 0;
}
.p-input {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.75);
  font-size: 17px;
  outline: none;
  padding: 17px 8px 5px 8px;
  font-family: Roboto;
  width: 100%;
  text-overflow: ellipsis;
  resize: none;
}
.p-input-label,
.p-input-label-textarea {
  position: absolute;
  bottom: 8px;
  left: 5px;
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
  cursor: text;
  transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-user-drag: none;
  line-height: 25px;
}
.p-input + .p-input-label-textarea.active {
  transform: scale(0.8);
  bottom: 70%;
  left: 0;
}
.p-input.classic + .p-input-label-textarea.active {
  left: -8px;
}
.p-input.outlined + .p-input-label-textarea.active {
  bottom: 80%;
  background-color: white;
}
.p-input.outlined + .p-input-label-textarea {
  bottom: 30%;
}
.p-input.classic {
  background-color: transparent;
  border-radius: 0;
  padding-left: 0;
}
.p-input.classic + .p-input-label {
  left: 0;
}
.p-input.outlined {
  background-color: transparent;
  padding: 10px 10px 10px 10px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: 0.1s linear;
}
.p-input.outlined:focus {
  border-color: var(--primary);
}
.p-input.outlined ~ .p-input-bar,
.p-input.outlined ~ .p-input-bar-textarea {
  display: none;
}
.p-input.outlined + .p-input-label {
  bottom: 10px;
  left: 10px;
}
.p-input-bar,
.p-input-bar-textarea {
  position: relative;
  border-bottom: 2px solid var(--primary);
  width: 50%;
  bottom: 2px;
  transform: translateX(-50%);
  left: 50%;
  opacity: 0;
}
.p-input-bar-textarea {
  bottom: 6px;
}
.p-input:focus ~ .p-input-bar,
.p-input:focus ~ .p-input-bar-textarea {
  opacity: 1;
  transition: width 0.2s ease-out;
  width: 100%;
}
.p-input + .p-input-label.active {
  transform: scale(0.8);
  bottom: 25px;
  left: 0;
}
.p-input.classic + .p-input-label.active {
  transform: scale(0.8);
  bottom: 25px;
  left: -10px;
}
.p-input.outlined + .p-input-label.active {
  transform: scale(0.8);
  text-align: start;
  bottom: 30px;
  left: 0;
  background-color: white;
  padding: 0 3px;
}
.p-input:focus + .p-input-label,
.p-input:focus + .p-input-label-textarea {
  color: var(--primary);
}
.fieldset button.input-trailing {
  position: absolute;
  right: 0;
  bottom: 4px;
}
.p-input.trailing-btn-input {
  padding-right: 50px;
}
.helper-text {
  position: absolute;
  font-size: 13px;
  transform: translateY(-10%);
  line-height: 22px;
  color: #0000009c;
  animation: helperTextAnim 0.5s;
}
.helper-text i {
  font-size: 20px;
}
.helper-text.error {
  color: rgba(255, 0, 0, 0.623);
}
.helper-text.warn {
  color: #f26d00ad;
}
.helper-text.success {
  color: #24bd269c;
}
@keyframes helperTextAnim {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(-10%);
  }
}
/* #endregion InputStyles */

/* #region Elevation */
.elevation {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}
/* #endregion Elevation */

/* #region Snackbars */
.snackbar {
  position: fixed;
  padding: 15px;
  border-radius: 5px;
  height: 20px;
  width: 344px;
  color: white;
  background-color: rgb(44, 44, 44);
  z-index: 1004;
  line-height: 20px;
  display: none;
  overflow: hidden;
  transition: opacity 0.15s linear;
}
.snackbar.top {
  top: 15px;
}
.snackbar.bottom {
  bottom: 15px;
}
.snackbar.left {
  animation: fadeInSnackbar 0.15s;
  left: 15px;
}
.snackbar.right {
  animation: fadeInSnackbar 0.15s;
  right: 15px;
}
.snackbar.center {
  animation: fadeInCenterSnackbar 0.15s;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes fadeInSnackbar {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInCenterSnackbar {
  from {
    opacity: 0;
    transform: translateX(-50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}
/* #endregion Snackbars */
