.sidenav {
  background-color: red;
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.2s ease-out;
}

.sidenav-wrap {
  position: relative;
  margin-right: 250px;
}

.elevation {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

@media screen and (max-width: 1000px) {
  .sidenav {
    transform: translateX(-100%);
  }
}
