.sidenav {
  background-color: #fff;
  width: 250px;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 996;
  transition: 0.2s ease-out;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidenav-wrap {
  position: relative;
}

@media screen and (max-width: 1000px) {
  .sidenav {
    transform: translateX(-150%);
  }
}
