.sidenav {
  background-color: var(--appBackgroundColor);
  position: sticky;
  height: 100%;
  max-height: 100vh;
  width: 250px;
  top: 0;
  bottom: 0;
  transition: 0.2s cubic-bezier(0 ,0 ,0.2, 1);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidenav-wrap {
  position: sticky;
  box-sizing: border-box;
  top: 0;
  width: 250px;
  transition: all 0.2s var(--defaultBezier);
  will-change: transform, width;
  z-index: 996;
}

@media screen and (max-width: 1000px) {
  .sidenav-wrap {
    transform: translateX(-150%);
    width: 0;
  }
}
