a {
  text-decoration: none !important;
  color: #262626;
}

.card-btn {
  width: 250px;
  height: 150px;
  box-sizing: border-box;
  background-color: var(--appBackgroundColor);
  outline: none;
  border: 1px solid rgba(122, 122, 122, 0.5);  
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  margin: 20px 20px 20px 0;

}

.card-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

h5 {
  pointer-events: none;
  user-select: none;
}