<div class="row">
  <div class="col l4 m6 s12">
    <button class="card-btn" [routerLink]="['Containers']">
      <h5>Containers</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn" [routerLink]="['Grid']">
      <h5>Grid</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn" [routerLink]="['Buttons']">
      <h5>Buttons</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Text Inputs</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Cards</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn" [routerLink]="['Ripple']">
      <h5>Ripple</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Checkbox</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Toggle Switch</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Dialogs</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Snackbars</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <a [routerLink]="['Menu']">
      <button class="card-btn">
        <h5>Dropdown Menu</h5>
      </button>
    </a>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Badges</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Tooltips</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Select</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Radio Buttons</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Sections</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Datepicker</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Icons</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Collapsible</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Tabs</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Progress Spinner</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Progress Bar</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Table</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Sidenav</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Topnav</h5>
    </button>
  </div>
  <div class="col l4 m6 s12">
    <button class="card-btn">
      <h5>Footer</h5>
    </button>
  </div>
</div>