<div class="row">
  <div class="col l4 m6 s12">
    <a [routerLink]="['Containers']">
      <p-card [hasHeader]="false" [elevated]="false" [height]="150">
        <ng-container card-content>
          <div class="text-center">
            <h4>Containers</h4>
            <br>
            <h5>Designed to contain all the content of the page.</h5>
          </div>
        </ng-container>
      </p-card>
    </a>
  </div>
  <div class="col l4 m6 s12">
    <a [routerLink]="['Grid']">
      <p-card [hasHeader]="false" [elevated]="false" [height]="150">
        <ng-container card-content>
          <div class="text-center">
            <h4>Grid</h4>
            <br>
            <h5>Grid styles made for responsive design.</h5>
          </div>
        </ng-container>
      </p-card>
    </a>
  </div>
  <div class="col l4 m6 s12">
    <a [routerLink]="['Buttons']">
      <p-card [hasHeader]="false" [elevated]="false" [height]="150">
        <ng-container card-content>
          <div class="text-center">
            <h4>Buttons</h4>
            <br>
            <h5>Custom styled buttons used for performing actions.</h5>
          </div>
        </ng-container>
      </p-card>
    </a>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Text Inputs</h4>
          <br>
          <h5>Custom styled text inputs used in forms to get data.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Cards</h4>
          <br>
          <h5>Styled containers made to contain specific content.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <a [routerLink]="['Ripple']">
      <p-card [hasHeader]="false" [elevated]="false" [height]="150">
        <ng-container card-content>
          <div class="text-center">
            <h4>Ripple</h4>
            <br>
            <h5>Custom effect played when an object has been clicked.</h5>
          </div>
        </ng-container>
      </p-card>
    </a>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Checkbox</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Toggle Switch</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Dialogs</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Snackbars</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <a [routerLink]="['Dropdown']">
      <p-card [hasHeader]="false" [elevated]="false" [height]="150">
        <ng-container card-content>
          <div class="text-center">
            <h4>Dropdown Menu</h4>
            <br>
            <h5>Custom effect played when an object has been clicked.</h5>
          </div>
        </ng-container>
      </p-card>
    </a>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Badges</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Tooltips</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Select</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Radio Button</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Section</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Datepicker</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Icon</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Collapsible</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Tabs</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Progress Indicators</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Table</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Highlight</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h4>Footer</h4>
          <br>
          <h5>Custom effect played when an object has been clicked.</h5>
        </div>
      </ng-container>
    </p-card>
  </div>
</div>