<div class="row">
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Containers</h2>
          <br>
          <h4>Designed to contain all the content of the page.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <a [routerLink]="['Grid']">
      <p-card [hasHeader]="false" [elevated]="false" [height]="150">
        <ng-container card-content>
          <div class="text-center">
            <h2>Grid</h2>
            <br>
            <h4>Grid styles made for responsive design.</h4>
          </div>
        </ng-container>
      </p-card>
    </a>
  </div>
  <div class="col l4 m6 s12">
    <a [routerLink]="['Buttons']">
      <p-card [hasHeader]="false" [elevated]="false" [height]="150">
        <ng-container card-content>
          <div class="text-center">
            <h2>Buttons</h2>
            <br>
            <h4>Custom styled buttons used for performing actions.</h4>
          </div>
        </ng-container>
      </p-card>
    </a>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Text Inputs</h2>
          <br>
          <h4>Custom styled text inputs used in forms to get data.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Cards</h2>
          <br>
          <h4>Styled containers made to contain specific content.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <a [routerLink]="['Ripple']">
      <p-card [hasHeader]="false" [elevated]="false" [height]="150">
        <ng-container card-content>
          <div class="text-center">
            <h2>Ripple</h2>
            <br>
            <h4>Custom effect played when an object has been clicked.</h4>
          </div>
        </ng-container>
      </p-card>
    </a>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Checkbox</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Toggle Switch</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Dialogs</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Snackbars</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <a [routerLink]="['Dropdown']">
      <p-card [hasHeader]="false" [elevated]="false" [height]="150">
        <ng-container card-content>
          <div class="text-center">
            <h2>Dropdown Menu</h2>
            <br>
            <h4>Custom effect played when an object has been clicked.</h4>
          </div>
        </ng-container>
      </p-card>
    </a>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Badges</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Tooltips</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Select</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Radio Button</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Section</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Datepicker</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Icon</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Collapsible</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Tabs</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
  <div class="col l4 m6 s12">
    <p-card [hasHeader]="false" [elevated]="false" [height]="150">
      <ng-container card-content>
        <div class="text-center">
          <h2>Progress Indicators</h2>
          <br>
          <h4>Custom effect played when an object has been clicked.</h4>
        </div>
      </ng-container>
    </p-card>
  </div>
</div>