<div class="p-datepicker" #datepickerPos>
  <div class="p-datepicker-wrapper elevation-p8" @datepickerAnim *ngIf="isPickerOpen">
    <div class="p-datepicker-header">
      <div class="p-datepicker-header-content">
        <button class="btn flat fab" pRipple [pRippleCentered]="true" (click)="pageChangePrevious()"
          [disabled]="leftChevronDisabled">
          <p-icon>chevron_left</p-icon>
        </button>
        <div class="spacer"></div>
        <button class="btn-small flat t-600 year-button" pRipple (click)="toggleVisibility()">
          <ng-container *ngIf="!showYears && !showMonths">
            {{monthsOfYear[monthPage - 1].monthName}} {{years[selectedYearIndex].year}}
          </ng-container>
          <ng-container *ngIf="showYears && !showMonths">
            {{years[0].year}} - {{years[years.length - 1].year}}
          </ng-container>
          <ng-container *ngIf="showMonths && !showYears">
            {{years[selectedYearIndex].year}}
          </ng-container>
        </button>
        <div class="spacer"></div>
        <button class="btn flat fab" pRipple [pRippleCentered]="true" (click)="pageChangeNext()"
          [disabled]="rightChevronDisabled">
          <p-icon>chevron_right</p-icon>
        </button>
      </div>
    </div>
    <div class="p-datepicker-content">
      <div class="p-datepicker-days" *ngIf="!showYears && !showMonths">
        <div class="p-datepicker-days-week">
          <div class="p-weekday t-500" *ngFor="let weekday of weekDaysShort">{{weekday}}</div>
        </div>
        <div class="p-datepicker-days-month">
          <button class="p-day p-day-spacer" pRipple *ngFor="let lastmonth of daysOfLastMonth">1</button>
          <button *ngFor="let monthDay of daysOfMonth" [class]="monthDay.selected ? 'p-day selected-date' :'p-day'"
            pRipple [pRippleCentered]="true" (click)="closePicker(); selectDay(monthDay)"
            [disabled]="monthDay.disabled">{{monthDay.day}}</button>
        </div>
      </div>
      <div class="p-datepicker-months" *ngIf="!showYears && showMonths">
        <button [class]="month.selected ? 'p-month selected-date' : 'p-month'" pRipple [pRippleCentered]="true"
          *ngFor="let month of monthsOfYear" (click)="selectMonth(month)"
          [disabled]="month.disabled">{{month.monthName}}</button>
      </div>
      <div class="p-datepicker-years" *ngIf="showYears && !showMonths">
        <button [class]="year.selected ? 'p-year selected-date' : 'p-year'" pRipple [pRippleCentered]="true"
          *ngFor="let year of years" (click)="selectYear(year)" [disabled]="year.disabled">{{year.year}}</button>
      </div>
    </div>
  </div>
</div>