<div class="fieldset">
  <div class="picker-container">
    <input class="p-input" type="text" placeholder="Pick a Date">
    <div class="p-input-bar"></div>
    <i class="material-icons">calendar_today</i>
  </div>
  <div class="picker elevation">
    <div class="header">
      <button class="btn fab flat" pRipple pRippleCentered="true">
        <i class="material-icons">chevron_left</i>
      </button>
      <span *ngIf="showDays">
        <button class="btn-small flat" pRipple>
          <!-- {{currentDate.month}} -->
        </button>
        -
        <button class="btn-small flat" pRipple>
          <!-- {{currentDate.year}} -->
        </button>
      </span>
      <span *ngIf="showYears">
        <button class="btn-small flat" pRipple>
          Year
        </button>
        -
        <button class="btn-small flat" pRipple>
          Year
        </button>
      </span>
      <span *ngIf="showMonths">
        <button class="btn-small flat" pRipple>
          Year
        </button>
      </span>
      <button class="btn fab flat" pRipple pRippleCentered="true">
        <i class="material-icons">chevron_right</i>
      </button>
    </div>
    <div class="content">
      <div>
        <span class="day" pRipple pRippleCentered="true" pRippleColor="var(--primaryLowOpacity)"
          *ngFor="let day of days" (click)="selectDay(day)" id="day-{{day}}">{{day.day}}</span>
      </div>
      <div *ngIf="showMonths">
        <span class="month" pRipple>Jan</span>
      </div>
      <div *ngIf="showYears">
        <span class="year" pRipple>2021</span>
      </div>
    </div>
  </div>
</div>